@model IEnumerable<CAP_TEAM05_2022.Models.group>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";
    int no = 0;
}
<input type="text" hidden id="URLFindGroupProduct" value="@Url.Action("FindGroupProduct", "groups")/" />
<input type="text" hidden id="URLUpdateGroupProduct" value="@Url.Action("UpdateGroupProduct", "groups")" />
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Quản lý nhóm hàng</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://tancool.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Quản lý nhóm hàng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4>NHÓM HÀNG</h4>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn  btn-primary btn-block" data-toggle="modal" data-target="#AddGroupProduct">Thêm mới</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-border-style">
                            <div class="table-responsive">
                                <table id="example" class="table table-hover">
                                    <thead>
                                        <tr>           
                                            <th>#</th>
                                            <th>Mã nhóm hàng</th>
                                            <th>Tên nhóm hàng</th>
                                            <th width="15%">Trạng thái</th>
                                            <th width="15%">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            string customswitch_NH = "customswitch" + item.id;
                                            no++;
                                        <tr>
                                            <td>@no  <input hidden type="text" name="record" value="@item.code"></td>
                                            <td>@item.code</td>
                                            <td>@item.name</td>
                                            <td>
                                                @if (item.status == 1)
                                                {
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" checked class="custom-control-input" id="@customswitch_NH">
                                                        <label class="custom-control-label" for="@customswitch_NH"></label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input" id="@customswitch_NH">
                                                        <label class="custom-control-label" for="@customswitch_NH"></label>
                                                    </div>
                                                }
                                                <input hidden type="text" id="URDEditStatus" value="@Url.Action("EditStatus_GroupProduct", "groups")">
                                                <script language="javascript">
                                                        document.getElementById('@customswitch_NH').onclick = function (e) {
                                                                EditStatus(@item.id);
                                                        };
                                                </script>
                                            </td>
                                            <td>
                                                <button class="btn btn-success " onclick="GetGroupProduct(this, @item.id)">
                                                    <i class="feather icon-edit">
                                                    </i>
                                                </button>
                                                <input hidden type="text" id="URLDelete" value="@Url.Action("Delete_GroupProduct", "groups")">
                                                <button class="btn btn-danger" onclick="deleteAlert('@item.id', '@item.code')" id="Delete">
                                                    <i class="feather icon-trash-2">
                                                    </i>
                                                </button>

                                            </td>
                                        </tr>

                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="AddGroupProduct" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AddGroupProductLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="needs-validation" method="post" action="@Url.Action("Create_GroupProduct", "groups")" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="AddGroupProductLabel">Thêm mới nhóm hàng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    Tên nhóm hàng<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập tên nhóm hàng" id="name_GroupProduct" class="form-control" name="name_GroupProduct" pattern="\S+.*" required>
                                    <div class="invalid-feedback">
                                        Vui lòng nhập tên nhóm hàng !
                                    </div>
                                </div> <!---->
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary" @*onclick="Add()"*@>Thêm mới</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="Edit_Modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Edit_ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="needs-validation" method="post"@* action="@Url.Action("Edit_GroupProduct", "groups")"*@ novalidate>
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="Edit_ModalLabel">Chỉnh sửa nhóm hàng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    Tên nhóm hàng<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input hidden id="edit_id" name="GroupProduct_id" />
                                    <input type="text" placeholder="Nhập tên nhóm hàng" id="Edit_name" class="form-control" name="name_GroupProduct" pattern="\S+.*" required>
                                    <div class="invalid-feedback">
                                        Vui lòng nhập tên nhóm hàng !
                                    </div>
                                </div> <!---->
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" id="submit_edit" @*onclick="Update()"*@ >Chỉnh sửa</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script type="text/javascript">
    var row;
    $(document).ready(function () {
        $('#example').DataTable({
            pagingType: 'full_numbers',
        });
    });
</script>

