@model IEnumerable<CAP_TEAM05_2022.Models.sale>
@using Constants = CAP_TEAM05_2022.Helper.Constants;

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ứng dụng quản lý Phân bón và Thuốc trừ sâu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->
    <link rel="icon" href="https://dnqt.net/images/favicon.ico" type="image/x-icon">
    <!-- vendor css -->
    <link rel="stylesheet" href="~/Template/assets/css/style.css">

    <style>
        #topPage {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 0;
            z-index: 99;
            border: none;
            outline: none;
            background-color: #373a3c;
            color: white;
            cursor: pointer;
            padding: 10px;
            border-radius: 50%;
        }

            #topPage:hover {
                background-color: #555;
            }

        .card-with-title {
            padding: 12px 35px;
        }

            .card-with-title .card-title {
                margin: 0;
            }

        .card-total {
            display: flex;
            justify-content: space-between;
            padding: 12px 35px;
            border-top: 1px solid #e2e5e8;
        }

            .card-total p {
                text-align: left;
                margin-bottom: 8px;
                font-weight: bold;
            }

            .card-total span {
                font-weight: 400;
            }

        .card-total-item:last-child {
            padding-left: 16px;
        }

        .card-title-name,
        .card-title-desc {
            text-align: center;
        }

        .card-title-name {
            text-transform: uppercase;
        }

        .card-title-desc {
            margin: 0;
        }

        .image-logo {
            width: 15%;
        }
    </style>
</head>
<body class="">
    <button onclick="topFunction()" id="topPage" title="Lên đầu trang">
        &nbsp;<i class="fas fa-arrow-up"></i>
        &nbsp;
    </button>
    <div id="app">
        <!-- [ Pre-loader ] start -->
        <div class="loader-bg">
            <div class="loader-track">
                <div class="loader-fill"></div>
            </div>
        </div>
        <!-- [ Pre-loader ] End -->
        <div class="auth-wrapper">
            <div class="auth-content text-center" style="width: 100vw !important;">
                <img src="https://dnqt.net/images/logo.png" alt="" class="img-fluid mb-4 image-logo">
                <div class="card borderless">
                    <div class="row align-items-center ">
                        <div class="col-md-12">
                            <div class="card-with-title">
                                <div class="card-title">
                                    <h4 class=" card-title-name">
                                        Lịch sử đơn hàng
                                    </h4>
                                    <h6 class=" card-title-desc">
                                        <i>@TempData["customerCode"].ToString() - @TempData["customerName"].ToString()</i>
                                    </h6>
                                </div>
                            </div>
                            <div class="card-total">
                                <div class="card-total-item">
                                    <p>Tổng đơn hàng: <span>@Model.Count()</span></p>
                                    <p>Số đơn đã thanh toán: <span class="text-success">@Model.Count(x => x.method == Constants.PAYED_ORDER)</span></p>
                                    <p>Số đơn nợ: <span class="text-danger">@Model.Count(x => x.method == Constants.DEBT_ORDER)</span></p>
                                </div>
                                <div class="card-total-item">
                                    <p>Tổng tiền mua : <span>@Model.Sum(x => x.total).ToString("N0") VNĐ</span></p>
                                    <p>Tổng thanh toán: <span class="text-success"> @(((decimal)(Model.Sum(x => x.prepayment + (decimal)x.pay_debt + (x.method == Constants.PAYED_ORDER ? x.total : 0)))).ToString("N0")) VNĐ</span></p>
                                    <p>Còn nợ : <span class="text-danger"> @(((decimal)(Model.Sum(x =>x.total - x.prepayment - (decimal)x.pay_debt - (x.method == Constants.PAYED_ORDER ? x.total : 0)))).ToString("N0")) VNĐ</span></p>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Mã đơn hàng</th>
                                                <th>Tổng đơn hàng</th>
                                                <th>Đã thanh toán</th>
                                                <th>Còn nợ</th>
                                                <th>Trạng thái</th>
                                                <th>Ghi chú</th>
                                                <th>Ngày</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Count() > 0)
                                            {
                                                foreach (var item in Model)
                                                {
                                                    if (item.method == 1)
                                                    {
                                                        <tr style="cursor: pointer; background-color: #d8efff" id="sale-31" onclick="GetList_orderDetails('@item.id', 1)">
                                                            <td>@item.code</td>
                                                            <td>
                                                                @item.total.ToString("N0") VNĐ
                                                            </td>

                                                            <td>  @item.total.ToString("N0")VNĐ</td>
                                                            <td>0 VNĐ </td>
                                                            <td>
                                                                <p style="padding: 10px; background-color: #4c994c; border-radius: 10px; color: white;">Đã thanh toán</p>
                                                            </td>
                                                            <td>@item.note</td>
                                                            <td>
                                                                @String.Format("{0:HH:mm - dd/MM/yyy}", item.created_at)
                                                            </td>
                                                            <td>
                                                                <button title="Xem chi tiết" class="btn btn-info">
                                                                    <span class="pcoded-micon">
                                                                        <i class="fas fa-info">
                                                                        </i>
                                                                    </span>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr style="cursor: pointer; background-color: #d8efff" id="sale-31" onclick="GetList_orderDetails('@item.id', 1)">
                                                            <td>@item.code</td>
                                                            <td>
                                                                @item.total.ToString("N0") VNĐ
                                                            </td>

                                                            <td> @String.Format("{0:0,00}", item.prepayment + item.pay_debt) VNĐ</td>
                                                            <td>
                                                                <span class="text-danger">@String.Format("{0:0,00}", item.total - item.prepayment - item.pay_debt) VNĐ </span>
                                                            </td>
                                                            <td style="vertical-align: middle;">
                                                                <p style="padding: 10px; background-color: rgb(219, 93, 93); border-radius: 10px; color: white;">
                                                                    Ghi nợ
                                                                </p>
                                                            </td>
                                                            <td>@item.note</td>
                                                            <td>
                                                                @String.Format("{0:HH:mm - dd/MM/yyy}", item.created_at)
                                                            </td>
                                                            <td>
                                                                <button title="Xem chi tiết" class="btn btn-info">
                                                                    <span class="pcoded-micon">
                                                                        <i class="fas fa-info">
                                                                        </i>
                                                                    </span>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    }

                                                }

                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="7">
                                                        <div class="alert alert-warning">
                                                            <p class="text-center">Không tìm thấy dữ liệu</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dataContainer2">
    </div>
    <!-- Required Js -->
    <script src="~/Template/assets/js/vendor-all.min.js"></script>
    <script src="~/Template/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/Template/assets/js/pcoded.min.js"></script>
    <script src="~/Template/assets/js/jquery.dataTables.min.js"></script>

    <!-- Apex Chart -->
    <!-- custom-chart js -->
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                pagingType: 'full_numbers',
            });
        });
        let mybutton = document.getElementById("topPage");
        window.onscroll = function () {
            scrollFunction()
        }
            ;
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
        function GetList_orderDetails(id, method) {
            $.ajax({
                url: '@Url.Action("_OrderDetailsList", "Revenues")',
                data: {
                    order_id: id,

                }
            }).done(function (result) {
                $('#dataContainer2').html(result);
                if (method ==1 ) {
                    $('#detailModal.close').css('display', 'none');
                    $('#detailModal').modal('show');
                }
                else if (method == 2) {
                    $('#productSelectModal.close').css('display', 'none');
                    $('#productSelectModal').modal('show');
                }


            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus)
                console.log(errorThrown)
                alert("Something Went Wrong, Try Later");
            });
    }
    </script>
</body>
</html>
