@model IEnumerable<CAP_TEAM05_2022.Models.sale>
@{
    int no1 = 0;
    var first_item = Model.FirstOrDefault();
    decimal tongNhap = 0;
}
@if (Model.Count() > 0)
{
    <div class="card-body">
        <div class="table-responsive" id="dataContainer">
            <table id="example1" class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center">Khách hàng</th>
                        <th class="text-center">Mã hoá đơn</th>
                        <th class="text-center">Ngày giao dịch</th>
                        <th class="text-center">Tổng hoá đơn</th>
                        <th class="text-center">Đã thanh toán</th>
                        <th class="text-center">Còn nợ</th>
                        <th class="text-center">Trạng thái</th>
                        <th class="text-center">Người bán</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        no1++;
                    <tr class="click-hover">
                        <td class="text-center">
                            @no1
                        </td>
                        <td class="text-center">
                            @item.customer.name
                        </td>
                        <td class="text-center">@item.code</td>
                        <td class="text-center">
                            @String.Format("{0:HH:mm - dd/MM/yyy}", item.created_at)
                        </td>

                        <td class="text-center">
                            @item.total.ToString("N0") VNĐ
                        </td>
                        <td class="text-center">
                            @(item.prepayment!=null ? (((decimal)item.prepayment).ToString("N0") + " VNĐ") : "")
                        </td>
                        <td class="text-center">
                            @(item.prepayment!=null ? (((decimal)(item.total - item.prepayment)).ToString("N0") + " VNĐ") : "")
                        </td>
                        <td class="text-center">
                            <span class="text-@(item.total == item.prepayment ? "info" : item.method == 1 ? "success" : "danger")">@(item.method == 1 ? "Đã thanh toán" : "Ghi nợ") @((item.total == item.prepayment ? "(Đã thanh toán xong)" : ""))</span>
                        </td>
                        <td class="text-center">
                            @item.user.name
                        </td>
                        <td class="text-center">
                            <button title="Xem chi tiết" class="btn btn-info" onclick="GetList_orderDetails('@item.id', 1)">
                                <span class="pcoded-micon">
                                    <i class="fas fa-info">
                                    </i>
                                </span>
                            </button>
                        </td>
                    </tr>
                        foreach (var item1 in item.sale_details)
                        {
                            foreach (var item2 in item1.revenues)
                            {
                                if (item2.unit == item2.import_inventory.product.unit)
                                {
                                    tongNhap += item2.quantity * item2.import_inventory.price_import;
                                }
                                else
                                {
                                    tongNhap += item2.quantity * (decimal)(item2.import_inventory.price_import / item2.import_inventory.product.quantity_swap);

                                }
                            }
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>
    <div class="car-body border-report">
        <div class="row">
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <p class="mb-0">
                        Tổng tiền bán được: <span><b>@Model.Sum(x => x.total).ToString("N0")VNĐ</b></span>
                    </p>
                </div>
                <div class="form-group">
                    <p class="mb-0">

                        Tổng tiền nhập hàng: <span><b>@tongNhap.ToString("N0")VNĐ</b></span>
                    </p>
                </div>
                <div class="form-group">
                    <p class="mb-0">

                        Lợi nhuận: <span class="text-@((Model.Sum(x => x.total) - tongNhap) >= 0 ? "success" : "danger")"><b>@((Model.Sum(x => x.total) - tongNhap).ToString("N0"))VNĐ</b></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="card-body table-border-style">
        <div class="table-responsive">
            <div>
                <div class="alert alert-warning text-center">
                    <p>Hôm nay chưa có đơn hàng nào</p>
                </div>
            </div>
        </div>
    </div>
}


