@model IEnumerable<CAP_TEAM05_2022.Models.customer>
@using Constants = CAP_TEAM05_2022.Helper.Constants

@{
    int no = 0;
}
<table id="example" class="table table-hover">
    <thead>
        <tr>
            <th class="text-center">STT</th>
            <th>Mã kháchh hàng</th>
            <th>Tên khách hàng</th>
            <th>Số đơn nợ</th>
            <th class="text-center">Tổng tiền</th>
            <th class="text-center">Đã thu</th>
            <th class="text-center">Còn nợ</th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            no++;
            <tr class="point-custom">
                <td class="text-center">
                    @no
                </td>
                <td>@item.code</td>
                <td>@item.name</td>
                <td>@item.sales.Where(s => s.method == Constants.DEBT_ORDER).Count()</td>
                <td class="text-center">
                    @item.sales.Where(s => s.method == Constants.DEBT_ORDER).Sum(s => s.total).ToString("N0")VNĐ
                </td>
                <td class="text-center">
                    @(((decimal)item.sales.Where(s => s.method == Constants.DEBT_ORDER).Sum(s => s.prepayment + s.pay_debt)).ToString("N0")) VNĐ
                </td>
                <td class="text-center">
                    @(((decimal)(item.sales.Where(s => s.method == Constants.DEBT_ORDER).Sum(s => s.total) - item.sales.Where(s => s.method == Constants.DEBT_ORDER).Sum(s => s.prepayment + s.pay_debt))).ToString("N0")) VNĐ
                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-info" onclick="DebtCollection(this,'@item.id','@Constants.COLLECTION_OF_CUSTOMERS')">Chọn</button>
                    <button type="button" class="btn btn-info" onclick="GetList_History('@item.id')">Đơn hàng nợ</button>
                    <button type="button" title="Xem chi tiết" class="btn btn-secondary" onclick="GetList_orderDetails('@item.id')">
                        <span>
                            <i class="fa icon-4 icon-custom fa-info">
                            </i>
                        </span>
                    </button>
                </td>
            </tr>
        }



    </tbody>
</table>