@model IEnumerable<CAP_TEAM05_2022.Models.debt>
@{ 
    int no = 0;
    
}
<div id="detailModal" tabindex="-1" aria-labelledby="detailModalTitle" class="modal fade bd-example-modal-lg" style="display: none;" aria-hidden="true">
    <div role="document" class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 id="detailModalTitle" class="modal-title white">Chi tiết nợ</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">STT</th>
                                        <th class="text-center">Nợ thêm</th>
                                        <th class="text-center">Đã thu</th>
                                        <th class="text-center">Tổng thu</th>
                                        <th class="text-center">Tồn nợ</th>
                                        <th class="text-center">Ngày giao dịch</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        no++;
                                        <tr>
                                            <td class="text-center">
                                                @no
                                            </td>
                                            <td class="text-center">
                                                @String.Format("{0:0,00}", item.debt1)
                                            </td>
                                            <td class="text-center">
                                                @String.Format("{0:0,00}", item.paid)
                                            </td>
                                            
                                            <td class="text-center">
                                                @String.Format("{0:0,00}", item.total)
                                            </td>
                                            <td class="text-center">
                                                @String.Format("{0:0,00}", item.remaining)
                                            </td>
                                            <td class="text-center">
                                                 @item.created_at
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

