@model CAP_TEAM05_2022.Models.customer
@using Constants = CAP_TEAM05_2022.Helper.Constants

@{
    bool isCreate = ViewBag.isCreate;
    bool isCustomer = ViewBag.isCustomer;
}
<input type="number" id="isCreate" value="@(isCreate ? Constants.CREATE_FORM : Constants.NOT_CREATE_FORM)" />

<div id="Customer" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <form class="CusomerForm" method="post" action="@Url.Action(isCreate ? "Create" : "Edit", "customers")">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 id="customModalTitle" class="modal-title white">@(isCustomer ? "Thêm mới khách hàng" : "Thêm mới công ty cung cấp")</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @if (!isCreate)
                    {
                        @Html.HiddenFor(m => m.id)
                        @Html.HiddenFor(m => m.code)
                        @Html.HiddenFor(m => m.created_by)
                        @Html.HiddenFor(m => m.created_at)
                        @Html.HiddenFor(m => m.status)
                    }
                    @if (!isCustomer)
                    {
                        <input type="hidden" name="type" value="@Constants.SUPPLIER" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                       @(isCustomer ? "Họ và tên" : "Tên công ty") <span class="text-danger">*</span>
                                    </label>
                                    <div class="position-relative">
                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập họ và tên", @type = "search" } })
                                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                    </div>

                                    <!---->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Số điện thoại<span class="text-danger">*</span>
                                    </label>
                                    <div class="position-relative">
                                        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập số điện thoại", @type = "search" } })
                                        @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                                    </div>
                                    <!---->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Địa chỉ<span class="text-danger">*</span>
                                    </label>
                                    <div class="position-relative">
                                        @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập địa chỉ", @type = "search" } })
                                        @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                                    </div>
                                    <!---->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Địa chỉ Email</label>
                                    <div class="position-relative">
                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập Email", @type = "search" } })
                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                    </div>
                                    <!---->
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Số tài khoản ngân hàng</label>
                                    <div class="position-relative">
                                        @Html.EditorFor(model => model.account_number, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập số tài khoản ngân hàng", @type = "search" } })
                                        @Html.ValidationMessageFor(model => model.account_number, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tên ngân hàng</label>
                                        <div class="position-relative">
                                            @Html.EditorFor(model => model.bank, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên ngân hàng", @type = "search" } })
                                            @Html.ValidationMessageFor(model => model.bank, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Ghi chú</label>
                                        <div class="position-relative">
                                            @Html.TextAreaFor(model => model.note, new { @class = "form-control", @placeholder = "Ghi chú", @type = "search" })
                                            @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                            </div>
                            }
                            else
                            {
                            <input type="hidden" name="type" value="@Constants.CUSTOMER" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>
                                            Họ và tên<span class="text-danger">*</span>
                                        </label>
                                        <div class="position-relative">
                                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập họ và tên", @type = "search" } })
                                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                        </div>

                                        <!---->
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Số điện thoại<span class="text-danger">*</span>
                                        </label>
                                        <div class="position-relative">
                                            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập số điện thoại", @type = "search" } })
                                            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                                        </div>
                                        <!---->
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>
                                            Địa chỉ<span class="text-danger">*</span>
                                        </label>
                                        <div class="position-relative">
                                            @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập địa chỉ", @type = "search" } })
                                            @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                                        </div>
                                        <!---->
                                    </div>
                                    <div class="form-group">
                                        <label>Ghi chú</label>
                                        <div class="position-relative">
                                            @Html.TextAreaFor(model => model.note, new { @class = "form-control", @placeholder = "Ghi chú", @type = "search" })
                                            @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                            </div>
                            }

                        </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                    <button type="submit" class="btn btn-primary">@(isCreate ? "Thêm mới": "Cập nhật")</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $('.CusomerForm').submit(function (e) {
        var form = $(this);
        var _this = $(this);
        var _form = _this.closest("form");
        var isvalid = _form.valid()
        // Check if form is valid then submit ajax
        if (isvalid) {
            e.preventDefault();
            var url = form.attr('action');
            $.ajax({
                url: url,
                type: 'POST',
                data: form.serialize(),
                success: function (data) {
                    // Hide bootstrap modal to prevent conflict
                    $('.modal').modal('hide');

                    if (data.status) {
                        // Refresh table data
                        GetList_Customer()
                        Swal.fire('Thành công !', data.message, 'success')

                        form[0].reset();
                        form.removeClass('was-validated');
                    } else {
                        Swal.fire('Lỗi !', data.message, 'error')
                    }
                }
            });
        }
    });
</script>

