@model IEnumerable<CAP_TEAM05_2022.Models.customer>
@using Constants = CAP_TEAM05_2022.Helper.Constants

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";
    bool isCustomer = ViewBag.isCustomer;
    int role = isCustomer ? Constants.CUSTOMER : Constants.SUPPLIER;
}
@section style {
    <link href="~/Content/css/custom-css.css" rel="stylesheet" />
}

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">@(isCustomer ? "Quản lý khách hàng" :"Quản lý công ty cung cấp")</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://tancool.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)"> @(isCustomer ? "Quản lý khách hàng" :"Quản lý công ty cung cấp")</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <button type="button" class="btn btn-primary float-right ml-2" onclick="createCustomer()">Tạo mới</button>
                            <div class="row">
                                <div class="col-md-9">
                                    <h4>@(isCustomer ? "KHÁCH HÀNG" : "CÔNG TY CUNG CẤP")</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-border-style">
                            <div class="table-responsive" id="dataContainer">
                                @if (isCustomer)
                                {
                                    Html.RenderAction("_CustomerList", "customers");
                                }
                                else
                                {
                                    Html.RenderAction("_SupplierList", "customers");
                                }

                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="table-responsive" id="dataContainer2">
</div>
@section scripts {
    <script type="text/javascript">
        var row;
        $(document).ready(function () {
            $('#example').DataTable({
                pagingType: 'full_numbers',
            });
        });
    function editCustomer(id) {
            $.ajax({
                url: '@Url.Action("_Form", "customers")',
                type: 'GET',
                data: {
                    id: id,
                    role : @role},
                success: function (response) {
                    // Add response in Modal body
                    $('#dataContainer2').html(response);
                    // Display Modal
                    $('#Customer').modal('show');
                }
            });
        }
        function createCustomer() {
    if ($('#isCreate').val() != undefined && $('#isCreate').val() == @Constants.CREATE_FORM) {
        $('#Customer').modal('show');
            } else {
             $.ajax({
                url: '@Url.Action("_Form", "customers")',
                type: 'GET',
                 data: { role : @role},
                success: function (response) {
                    // Add response in Modal body
                    $('#dataContainer2').html(response);
                    // Display Modal
                    $('#Customer').modal('show');
                }
            });

            }
        }
        function GetList_Customer() {
            $.ajax({
                url: '@(isCustomer ? Url.Action("_CustomerList", "customers"): Url.Action("_SupplierList", "customers"))',
                data: {}
            }).done(function (result) {
                $('#dataContainer').html(result);
                $('#example').DataTable();
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus)
                console.log(errorThrown)
                Swal.fire('Lỗi !', 'Đã xảy ra lỗi, hãy thử lại sau !', 'error');
            });
        }
    </script>
}