@model CAP_TEAM05_2022.Models.customer
@using CAP_TEAM05_2022.Models

@{
    int no = 0;
    var User = (user)ViewBag.User;
    Layout = null;
}
<div class="pcoded-content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body table-border-style">
                            <div class="card__header">
                                <div class="card__header-thumb">
                                    <img src="@Url.Content("~/Template/assets/images/logoTT.png")" alt="" class="logo">
                                </div>
                                <div class="card__header-info">
                                    <h3 class="card__info-name"> DOANH NGHIỆP BUÔN BÁN PHÂN BÓN THUỐC TRỪ SÂU TẤN THÀNH</h3>
                                    <p>Địa chỉ: Tổ 20, ấp Tân Trung B, xã Tân Hưng, huyện Tân Châu, tỉnh Tây Ninh</p>
                                    <p>Điện thoại: 0854xxxxxx</p>
                                </div>
                            </div>
                            <div class="card__nav">
                                <div class="card__nav-info">
                                    <h4 class="card__nav-name">HÓA ĐƠN BÁN HÀNG</h4>
                                    <p class="card__nav-time">Ngày @DateTime.Now.Day Tháng @DateTime.Now.Month Năm @DateTime.Now.Year</p>
                                </div>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td class="text" colspan="5">
                                            <p class="txt-15">Nhân viên bán: @User.name</p>
                                            <p class="txt-15">Số ĐT: @User.phone</p>
                                            <p class="txt-15">Ngày tạo đơn:  @String.Format("{0:HH:mm - dd/MM/yyy}", DateTime.Now)</p>
                                        </td>
                                        <td class="text" colspan="2">
                                            <p class="txt-15">Mã khách hàng: @Model.code</p>
                                            <p class="txt-15">Người mua: @Model.name</p>
                                            <p class="txt-15">Số ĐT: @Model.phone</p>
                                        </td>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <th class="text-center">STT</th>
                                        <th class="text-center">Mã sản phẩm</th>
                                        <th class="text-center">Tên sản phẩm</th>
                                        <th class="text-center">Đơn giá</th>
                                        <th class="text-center">Số lượng</th>
                                        <th class="text-center">Thành tiền</th>
                                        <th class="text-center">Ghi chú</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.carts.ToList())
                                    {
                                        no++;
                                        <tr>
                                            <td class="text-center">
                                                @no
                                            </td>
                                            <td class="text-center">
                                                @item.product.code
                                            </td>
                                            <td class="text-center">
                                                @item.product.name
                                            </td>

                                            <td class="text-center">
                                                @((item.price / item.quantity).ToString("N0")) VNĐ / <span class="txt-unit">@item.unit</span>
                                            </td>
                                            <td class="text-center">
                                                @item.quantity<span class="txt-unit"> @item.unit</span>
                                            </td>
                                            <td class="text-center">
                                                @item.price.ToString("N0") VNĐ
                                            </td>
                                            <td class="text-center">
                                                @item.note 
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4" class="text-right">
                                        </td>
                                        <td colspan="2" class="text-left">
                                            <div>
                                                Hình thức:
                                                <b>
                                                    <span class="text">
                                                        Xem trước (chưa thanh toán)
                                                    </span>
                                                </b>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" class="text-right">
                                        </td>

                                        <td colspan="2" class="text-left">
                                            <div class="total-div">
                                                <div>
                                                    Thành tiền:
                                                    <b>
                                                        <span class="text">
                                                            @Model.carts.Sum(x => x.price).ToString("N0") VNĐ
                                                        </span>
                                                    </b>
                                                </div>                                             
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="card_footer">
                                <p class="card__footer-desc">Tra cứu tại Website: <a href="https://cntttest.vanlanguni.edu.vn:18081/CP25Team05/LookUpOrder">https://cntttest.vanlanguni.edu.vn:18081/CP25Team05/LookUpOrder</a> - <span> Mã tra cứu:</span> xxx</p>
                                @* <p class="card__footer-desc card__footer-desc-ladi">(abc)</p>
                                    <p class="card__footer-desc card__footer-desc-ladi">(abc)</p>*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>