@using Constants = CAP_TEAM05_2022.Helper.Constants

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";
}

@section style {
    <link href="~/Content/css/custom-css.css" rel="stylesheet" />
    <style>
        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
            padding-right: 20px;
        }
    </style>
}

<input type="text" hidden id="URLCartList" value="@Url.Action("Index", "carts")" />
<input type="text" hidden id="URLGetSearchValue" value="@Url.Action("GetSearchValue","customers")" />
<input type="text" hidden id="URLGetSearch_phoneValue" value="@Url.Action("GetSearch_phoneValue","customers")" />
<input type="text" hidden id="URLFindCustomer_name" value="@Url.Action("FindCustomer_name","customers")/" />
<input type="text" hidden id="URLGetSearchValue_product" value="@Url.Action("GetSearchValue", "products")" />
<input type="text" hidden id="URLFindProduct_name" value="@Url.Action("FindProduct_name", "products")/" />
<input type="text" hidden id="URLCreateSale" value="@Url.Action("CreateSale", "sales")" />
<input type="text" hidden id="URLUpdateCart" value="@Url.Action("UpdateCart", "carts")" />
<input type="text" hidden id="URLTemplateInvoicePreview" value="@Url.Action("_TemplateInvoicePreview", "sale_details")" />
<input type="text" hidden id="URLgetGroupProduct" value="@Url.Action("getGroupProduct", "groups")" />
<input type="text" hidden id="URLgetCategory" value="@Url.Action("getCategory", "categories")" />
<input type="text" hidden id="URLgetSupplier" value="@Url.Action("getSupplier", "customers")" />
<input type="text" hidden id="URLTestPrint" value="@Url.Action("_TemplateOrderDetails", "sales")" />

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Quản lý bán hàng</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://tancool.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Quản lý bán hàng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-create">
                        <div class="card-header">
                            <h4>Tạo mới đơn hàng</h4>
                        </div>
                        <div class="card-body">
                            <form class="SaleForm" method="post" action="@Url.Action("CreateCart", "carts")" novalidate>
                                <div class="row">
                                    @Html.AntiForgeryToken()
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="hidden" id="customer_id" name="customer_id" class="form-control">
                                            <div class="position-relative">
                                                <input type="text" placeholder="Chọn khách hàng" id="customer_name" name="customer_name" data-val="true" data-val-required="Vui lòng chọn khách hàng !" aria-autocomplete="list" class="form-control" onchange="UserCustomer()" required>
                                                @Html.ValidationMessage("customer_name", "", new { @class = "text-danger" })

                                            </div> <!---->
                                        </div>
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <input type="text" placeholder="Số điện thoại khách hàng" id="customer_phone" aria-autocomplete="list" onchange="UserCustomer_phone()" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <input type="text" placeholder="Mã khách hàng" id="customer_code" disabled="disabled" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="position-relative">
                                                <div class="input-group">
                                                    <div class="input-group-append">
                                                        <span id="count_sale_lable" class="input-group-text">Số lần mua hàng:</span>
                                                    </div>
                                                    <input type="text" placeholder="0" id="count_sale" disabled="disabled" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <div class="input-group">
                                                    <div class="input-group-append">
                                                        <span id="debit_sum_lable" class="input-group-text">Tồn nợ</span>
                                                    </div>
                                                    <input type="text" placeholder="0" id="debit_sum" disabled="disabled" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="hidden" id="cart_id" name="id" class="form-control">

                                            <input type="hidden" id="product_id" name="product_id" class="form-control">
                                            <div class="position-relative">
                                                <input type="text" placeholder="Chọn sản phẩm" data-val="true" data-val-required="Vui lòng chọn sản phẩm !" id="product_name" name="product_name" aria-autocomplete="list" onchange="CheckProduct()" class="form-control" required>
                                                @Html.ValidationMessage("product_name", "", new { @class = "text-danger" })

                                            </div> <!---->
                                        </div>

                                        <div class="form-group">
                                            <div class="position-relative">
                                                <input type="text" placeholder="Mã sản phẩm" disabled="disabled" id="product_code" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <input type="text" placeholder="Số lượng tồn" id="product_unit" disabled="disabled" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <div class="input-group">
                                                    <div class="input-group-append">
                                                        <span id="basic-addon2" class="input-group-text">Giá bán (Tiền mặt):</span>
                                                    </div>
                                                    <input type="text" placeholder="Đơn giá bán" id="product_price" disabled="disabled" class="form-control">
                                                    <input type="text" placeholder="Đơn giá bán" hidden id="product_price_swap" disabled="disabled" class="form-control">
                                                </div>
                                            </div>
                                            <!---->
                                        </div>
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <div class="input-group">
                                                    <div class="input-group-append">
                                                        <span id="basic-addon2" class="input-group-text">Giá bán (Ghi nợ):</span>
                                                    </div>
                                                    <input type="text" placeholder="Đơn giá bán" id="product_price_debt" disabled="disabled" class="form-control">
                                                    <input type="text" placeholder="Đơn giá bán" hidden id="product_price_swap_debt" disabled="disabled" class="form-control">
                                                </div>
                                            </div>
                                            <!---->
                                        </div>

                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <div class="input-group mb-3">
                                                    <input type="number" id="product_quantity" name="quantity" data-val="true" data-val-required="Vui lòng nhập số lượng !" onchange="SalesCalculation()" min="0" class="form-control" value="1" step="any" required>
                                                    <div class="input-group-append">
                                                        <select name="unit" id="unit_product_swap" class="input-group-text unit_product_swap">
                                                            <option disabled="disabled" selected value="">Đơn vị</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                @Html.ValidationMessage("quantity", "", new { @class = "text-danger" })

                                            </div>
                                            <!---->
                                        </div>

                                        <div class="form-group">
                                            <div class="position-relative">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-append">
                                                        <span id="basic-addon2" class="input-group-text">Thành tiền (Tiền mặt):</span>
                                                    </div>
                                                    <input type="text" id="sum_price" placeholder="Tổng" disabled class="form-control Price">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-append">
                                                        <span id="basic-addon2" class="input-group-text">Thành tiền(Ghi nợ):</span>
                                                    </div>
                                                    <input type="text" id="sum_price_debt" placeholder="Tổng" disabled="disabled" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <input id="cart_note" name="note" placeholder="Ghi chú" class="form-control">
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="hidden" id="actionCart" value="1" />

                                        <button type="button" class="btn btn-primary btn-block" id="submit_addCart" onclick="ActionCart('@Constants.ADD_PRODUCT_TO_CART')">Thêm</button>
                                        <button type="submit" hidden class="btn btn-primary btn-block" id="submit_Cart">Thêm</button>
                                        <button type="button" class="btn btn-info btn-block" id="refresh_cart">
                                            Làm mới
                                        </button>
                                        <button type="button" class="btn btn-primary btn-block" id="submit_updateCart" onclick="ActionCart('@Constants.UPDATE_PRODUCT_TO_CART')" style="display: none;">Cập nhật</button>
                                        <button type="button" class="btn btn-danger btn-block" id="Cancel_Cart" style="display: none">
                                            Huỷ bỏ
                                        </button>
                                        <hr>
                                        <button type="button" id="order_btn" style="display: none;" class="btn btn-success btn-block" onclick="openWin()">
                                            Xem hoá đơn
                                        </button>
                                        <button type="button" id="history_btn" style="display: none;" class="btn btn-danger btn-block" onclick="GetList_History()">
                                            Xem lịch sử mua hàng
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div id="dataContainer">
                @{ Html.RenderAction("Index", "carts", new { customer_id = -1 });}
            </div>


        </div>
    </div>
</section>
<div id="AddCustomer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AddGroupProductLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <form class="needs-validation AddCustomerSaleFrom" method="post" action="@Url.Action("AddCustomerSale", "customers")" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 id="customModalTitle" class="modal-title white">Thêm mới khách hàng</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Họ và tên<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập họ tên" id="create_customer_name" name="customer_name" class="form-control" pattern="\S+.*" required>
                                    <div class="invalid-feedback">
                                        Vui lòng nhập họ và tên !
                                    </div>
                                </div>

                                <!---->
                            </div>
                            <div class="form-group">
                                <label>
                                    Số điện thoại<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập số điện thoại" id="sale_customer_phone" name="customer_phone" class="form-control" pattern="\S+.*" required>
                                    <div class="invalid-feedback">
                                        Vui lòng nhập số điện thoại !
                                    </div>
                                </div>
                                <!---->
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ Email</label>
                                <div class="position-relative">
                                    <input type="email" placeholder="Nhập địa chỉ Email" id="customer_email" name="customer_email" class="form-control">
                                </div>
                                <!---->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Ngày sinh</label>
                                <div class="position-relative">
                                    <input type="date" id="customers_birth" name="customers_birth" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Số tài khoản ngân hàng</label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập số tài khoản" id="customer_account" name="customer_account" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Tên ngân hàng</label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập tên ngân hàng" id="customer_bank" name="customer_bank" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Nhóm khách hàng<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    @Html.DropDownList("customer_type", new SelectList(Constants.TypeCustomer, "Key", "Value.Item1"), "---- Chọn nhóm khách hàng ----", new { @class = "form-control", @id = "sale_customer_type", @required = "required" })
                                    <div class="invalid-feedback">
                                        Vui lòng chọn nhóm khách hàng !
                                    </div>
                                </div>
                                <!---->
                            </div>
                            <div class="form-group">
                                <label>
                                    Địa chỉ<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <textarea id="customer_address" name="customer_address" placeholder="Nhập địa chỉ" rows="1" class="form-control" pattern="\S+.*" required></textarea>
                                    <div class="invalid-feedback">
                                        Vui lòng nhập đại chỉ !
                                    </div>
                                </div>
                                <!---->
                            </div>
                            <div class="form-group">
                                <label>Ghi chú</label>
                                <div class="position-relative">
                                    <textarea id="customer_note" name="customer_note" placeholder="Ghi chú" rows="1" class="form-control"></textarea>
                                </div>
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                </div>
            </div>
        </form>

    </div>
</div>
<div id="AddProduct" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AddProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form class="needs-validation ProductSaleForm " method="post" action="@Url.Action("Create_Product", "products")" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="AddProductLabel">Thêm mới sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body ">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Tên sản phẩm<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập tên sản phẩm" id="add_name" class="form-control" name="name_product" pattern="\S+.*" required>
                                    <div class="invalid-feedback">
                                        Vui lòng nhập tên sản phẩm !
                                    </div>
                                </div> <!---->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Nhóm hàng<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <select class="custom-select" id="GroupProductDropdown" name="GroupProductDropdown" required>
                                    </select>
                                    <div class="invalid-feedback">Vui lòng chọn nhóm hàng</div>
                                </div> <!---->

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Danh mục sản phẩm<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <select class="custom-select" id="CategoryDropdown" name="CategoryDropdown" required>
                                    </select>
                                    <div class="invalid-feedback">Vui lòng chọn danh mục</div>
                                </div> <!---->

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Nhà cung cấp<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <select class="custom-select SupplierDropdown" name="SupplierDropdown" required>
                                    </select>
                                    <div class="invalid-feedback">Vui lòng chọn nhà cung cấp</div>
                                </div> <!---->

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Tồn kho<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <div class="input-group mb-3">
                                        <input type="number" data-model="quantity" placeholder="Nhập số lượng" id="add_quantity" name="quantity" max="999999999999" aria-describedby="quantity-buy" class="form-control" required>
                                        <div class="input-group-append">
                                            <select id="unit_buy" class="input-group-text select-unit" name="unit">
                                                <option disabled="disabled" value="" selected>Đơn vị</option>
                                                <optgroup label="Khác">
                                                    <option data-name="bao" value="Bao">
                                                        bao
                                                    </option>
                                                    <option data-name="chai" value="Chai">
                                                        chai
                                                    </option>
                                                    <option data-name="gói" value="Gói">
                                                        Gói
                                                    </option>
                                                </optgroup>
                                                <optgroup label="Khối lượng">

                                                    <option data-name="tạ" value="Tạ">
                                                        tạ
                                                    </option>

                                                    <option data-name="kg" value="Kg">
                                                        kg
                                                    </option>
                                                    <option data-name="gam" value="Gam">
                                                        gam
                                                    </option>
                                                </optgroup>
                                                <optgroup label="Thể tích">
                                                    <option data-name="lít" value="Lít">
                                                        lít
                                                    </option>
                                                    <option data-name="ml" value="ml">
                                                        ml
                                                    </option>
                                                </optgroup>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback">
                                        Vui lòng nhập số lượng sản phẩm và lớn hơn 0 !
                                    </div>
                                </div> <!---->
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Đơn giá bán<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập giá tiền" id="product-price-sold" max="999999999999" class="form-control Price"
                                           pattern="[0-9.,]+" data-type="number" name="sell_price" required>
                                    <div class="invalid-feedback">
                                        Giá tiền bán không được để trống !
                                    </div>
                                </div> <!---->

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="product-price-import">
                                    Đơn giá nhập<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập giá tiền" id="purchase_price" max="999999999999" class="form-control Price"
                                           pattern="[0-9.,]+" data-type="number" name="purchase_price" required>
                                    <div class="invalid-feedback">
                                        Giá tiền nhập không được để trống !
                                    </div>
                                </div>
                                <!---->
                            </div>
                        </div>

                        <div class="col-md-12 mt-2">
                            <div class="form-group">
                                <input type="checkbox" id="swap" name="swap">
                                <input type="number" id="check_swap" name="check_swap" hidden value="0" />
                                <label for="swap">Quy đổi sang đơn vị khác</label>
                            </div>
                        </div>
                        <div class="col-md-3 swap" style="display: none;">
                            <div class="form-group">
                                <div class="position-relative">
                                    <div class="input-group mb-3">
                                        <input type="number" value="1" disabled data-model="unit_current_quantity" id="unit-quantity-current" aria-describedby="basic-addon2" class="form-control" required="required">
                                        <div class="input-group-append">
                                            <span id="unit_current" class="input-group-text unit_current"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-icon swap" style="display: none;">
                            <div class="form-group">
                                <i aria-hidden="true" class="feather icon-arrow-right icon-swap">
                                </i>
                            </div>
                        </div>
                        <div class="col-md-4 swap" style="display: none;">
                            <div class="form-group">
                                <div class="position-relative">
                                    <div class="input-group mb-3">
                                        <input type="number" name="quantity_swap" data-model="unit_swap_quantity" placeholder="Nhập số lượng" id="unit-quantity-input" max="999999999999" aria-describedby="unit-quantity" class="form-control">
                                        <div class="input-group-append">
                                            <select id="unit_swap" name="unit_swap" class="input-group-text select-unit">
                                                <option disabled="disabled" value="" selected>Đơn vị</option>
                                                <optgroup label="Khác">
                                                    <option data-name="bao" value="Bao">
                                                        bao
                                                    </option>
                                                    <option data-name="chai" value="Chai">
                                                        chai
                                                    </option>
                                                </optgroup>
                                                <optgroup label="Khối lượng">

                                                    <option data-name="tạ" value="Tạ">
                                                        tạ
                                                    </option>

                                                    <option data-name="kg" value="Kg">
                                                        kg
                                                    </option>
                                                    <option data-name="gam" value="Gam">
                                                        gam
                                                    </option>
                                                </optgroup>
                                                <optgroup label="Thể tích">
                                                    <option data-name="lít" value="Lít">
                                                        lít
                                                    </option>
                                                    <option data-name="ml" value="ml">
                                                        ml
                                                    </option>
                                                </optgroup>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 swap" style="display: none;">
                            <div class="form-group">
                                <input type="text" name="price_swap" placeholder="Nhập giá tiền" id="product-price-swap" max="999999999999" data-model="unit_price" class="form-control Price">
                            </div>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="dataContainer2">
</div>
@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        function ActionCart(action) {
            $('#actionCart').val(action)
            document.getElementById('submit_Cart').click();
        }
        $('.SaleForm').submit(function (e) {
            var form = $(this);
            var _this = $(this);
            var _form = _this.closest("form");
            var isvalid = _form.valid()
            // Check if form is valid then submit ajax
            if (isvalid) {
                e.preventDefault();
                var url = form.attr('action');
                if ($('#actionCart').val() == @Constants.UPDATE_PRODUCT_TO_CART) {
                    url = '@Url.Action("UpdateCart", "carts")';
                } else {
                     url = '@Url.Action("CreateCart", "carts")';
                }
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: form.serialize(),
                    success: function (response) {
                        if (response.message == "Record Saved Successfully") {
                            GetList_Cart($('#customer_id').val());
                            $("#payment_btn").show();
                            LoadDataProduct($('#product_id').val());
                            if ($('#actionCart').val() == @Constants.UPDATE_PRODUCT_TO_CART) {
                                Swal.fire('Thành công !', 'Cập nhật giỏ hàng thành công !', 'success');
                                $('#product_code').val('');
                                $('#product_unit').val('');
                                $('#product_price').val('');
                                $('#product_price_debt').val('');
                                $('#product_name').val('');
                                SalesCalculation();
                            } else {
                                Swal.fire('Thành công !', 'Thêm giỏ hàng thành công !', 'success');
                            }

                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Lỗi',
                                text: "Số lượng sản phẩm chỉ còn: " + response.message + " !",
                            })
                        }
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                        if (textStatus == 'error') {
                            Swal.fire('Lỗi !', 'Vui lòng kiểm tra lại thông tin !', 'error');
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Lỗi',
                                text: "Trạng thái: " + textStatus + ", Lỗi: " + errorThrown + " !",
                            })
                        }
                    }
                });               }
        });
    function GetList_History() {
        var id = $('#customer_id').val();
            $.ajax({
                url: '@Url.Action("_HistoryOrder", "sales")',
                type: 'GET',
                data: {
                    order_customer: id,
                    method: @Constants.PAYED_ORDER,
                }
            }).done(function (result) {
                $('#dataContainer2').html(result);
                $('#historyModal.close').css('display', 'none');
                $('#historyModal').modal('show');
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus)
                console.log(errorThrown)
                alert("Something Went Wrong, Try Later");
            });
    }
        function UserCustomer() {
            var customer_name = $("#customer_name").val();
            if (customer_name != "" && customer_name != undefined) {
                $.post('@Url.Action("CheckCustomernameAvailability", "customers")',
                    {
                        customer_name: customer_name
                    },
                    function (data) {
                        if (data == 0) {
                            $('#customer_id').val('');
                            $('#customer_code').val('');
                            $('#customer_phone').val('');
                            $('#customer_type').val('');
                            $('#count_sale').val('');
                            $('#debit_sum').val('');
                            $('#debit_sum').val('');

                            Swal.fire({
                                title: 'Không tìm thấy !',
                                text: "Khách hàng không có trong hệ thống, bạn có muốn thêm mới ?",
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonText: 'Xác nhận'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    $('#AddCustomer .close').css('display', 'none');
                                    $('#AddCustomer').modal('show');
                                    $('#create_customer_name').val($('#customer_name').val());
                                }
                            })
                        }

                    }
                );
            }
        }

        function UserCustomer_phone() {
            var customer_phone = $("#customer_phone").val();
            if (customer_phone != "" && customer_phone != undefined) {
                $.post('@Url.Action("CheckCustomerPhoneAvailability", "customers")',
                    {
                        phone: customer_phone
                    },
                    function (data) {
                        if (data == 0) {
                            $('#customer_id').val('');
                            $('#customer_code').val('');
                            $('#customer_type').val('');
                            $('#count_sale').val('');
                            $('#debit_sum').val('');
                            $('#debit_sum').val('');
                            $('#debit_name').val('');
                            Swal.fire({
                                title: 'Không tìm thấy !',
                                text: "Khách hàng không có trong hệ thống, bạn có muốn thêm mới ?",
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonText: 'Xác nhận'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    $('#AddCustomer .close').css('display', 'none');
                                    $('#AddCustomer').modal('show');
                                    $('#sale_customer_phone').val(customer_phone);
                                }
                            })
                        }
                    }
                );
            }
        }
        function CheckProduct() {
            var name = $("#product_name").val();
            if (name != "" && name != undefined) {
                $.post('@Url.Action("CheckProductNameAvailability", "products")',
                    {
                        name: name
                    },
                    function (data) {
                        if (data == 0) {
                            $('#product_id').val('');
                            $('#product_code').val('');
                            $('#product_unit').val('');
                            $('#product_price').val('');
                            $('#debit_sum').val('');
                            $('#unit_product_swap').val('');
                            Swal.fire({
                                title: 'Không tìm thấy !',
                                text: "Sản phẩm không có trong hệ thống, bạn có muốn thêm mới ?",
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonText: 'Xác nhận',
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    $('#AddProduct .close').css('display', 'none');
                                    $('#AddProduct').modal('show');
                                    $('#add_name').val(name);
                                }
                            })
                        }
                    }
                );
            }
        }
        document.getElementById('swap').onclick = function (e) {
            if (this.checked) {
                $(".swap").show();
                $("#check_swap").val(@Constants.UNIT_CONVERT)
                var unit_buy = $("#unit_buy").val()
                document.getElementsByClassName('unit_current')[0].innerHTML = unit_buy;
            }
            else {
                $(".swap").hide();
                $("#check_swap").val(@Constants.NO_UNIT_CONVERT)
            }
        };
        $("#unit_buy").change(function () {
            var unit_buy = $("#unit_buy").val()
            document.getElementsByClassName('unit_current')[0].innerHTML = unit_buy;
        });

        $("#sum_price").change(function () {
            var product_price = Number($('#product_price').val().replace(/\,/g, '').replace(/\./g, ''));
            var sum_price = Number($('#sum_price').val().replace(/\,/g, '').replace(/\./g, ''));
            var product_quantity = sum_price / product_price;
            $('#product_quantity').val(product_quantity.toFixed(3));
            SalesCalculation();
        });

        $("#sum_price_debt").change(function () {
            var product_price = Number($('#product_price').val().replace(/\,/g, '').replace(/\./g, ''));
            var sum_price_debt = Number($('#sum_price_debt').val().replace(/\,/g, '').replace(/\./g, ''));
            var product_quantity = sum_price_debt / product_price;
            $('#product_quantity').val(product_quantity.toFixed(3));
            SalesCalculation();
        });

        function SalesCalculation() {
            var product_price = Number($('#product_price').val().replace(/\,/g, '').replace(/\./g, ''));
            var product_price_debt = Number($('#product_price_debt').val().replace(/\,/g, '').replace(/\./g, ''));
            var product_quantity = Number($('#product_quantity').val());

            var sum_price = product_price * product_quantity;
            $('#sum_price').val(sum_price.toLocaleString());

            var sum_price_debt = product_price_debt * product_quantity;
            $('#sum_price_debt').val(sum_price_debt.toLocaleString());
        }
    </script>
}