@model IEnumerable<CAP_TEAM05_2022.Models.sale_details>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";
}

<input type="text" hidden id="URLCreateCart" value="@Url.Action("CreateCart", "carts")" />
<input type="text" hidden id="URLCartList" value="@Url.Action("Index", "carts")" />
<input type="text" hidden id="URLGetSearchValue" value="@Url.Action("GetSearchValue","customers")" />
<input type="text" hidden id="URLFindCustomer_name" value="@Url.Action("FindCustomer_name","customers")/" />
<input type="text" hidden id="URLGetSearchValue_product" value="@Url.Action("GetSearchValue", "products")" />
<input type="text" hidden id="URLFindProduct_name" value="@Url.Action("FindProduct_name", "products")/" />
<input type="text" hidden id="URLCreateSale" value="@Url.Action("CreateSale", "sales")" />
<input type="text" hidden id="URLUpdateCart" value="@Url.Action("UpdateCart", "carts")" />
<input type="text" hidden id="URLCheckCustomernameAvailability" value="@Url.Action("CheckCustomernameAvailability", "customers")" />
<input type="text" hidden id="URLAddCustomerSale" value="@Url.Action("AddCustomerSale", "customers")" />
<input type="text" hidden id="URLgetCartProduct" value="@Url.Action("getCartProduct", "carts")" />


<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Quản lý bán hàng</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://tancool.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Quản lý bán hàng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-create">
                        <div class="card-header">
                            <h4>Tạo mới đơn hàng</h4>
                        </div>
                        <div class="card-body">
                            <form class="needs-validation" method="post" @*action="@Url.Action("CreateCart", "carts")"*@ novalidate>
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="hidden" id="customer_id" class="form-control">
                                            <div class="position-relative">
                                                <input type="text" placeholder="Chọn khách hàng" id="customer_name" aria-autocomplete="list" class="form-control" onchange="UserCustomer()" required>
                                                <div class="invalid-feedback">
                                                    Vui lòng nhập nhập tên khách hàng !
                                                </div>
                                            </div> <!---->
                                        </div>
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <input type="text" placeholder="Mã khách hàng" id="customer_code" disabled="disabled" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <input type="text" placeholder="Số điện thoại khách hàng" id="customer_phone" disabled="disabled" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <input type="text" placeholder="Nhóm khách hàng" id="customer_type" disabled="disabled" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <div class="input-group">
                                                    <div class="input-group-append">
                                                        <span id="basic-addon2" class="input-group-text">Số lần mua hàng:</span>
                                                    </div>
                                                    <input type="text" placeholder="0" id="first-name-icon" disabled="disabled" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="hidden" id="cart_id" class="form-control">

                                            <input type="hidden" id="product_id" class="form-control">
                                            <div class="position-relative">
                                                <input type="text" placeholder="Chọn sản phẩm" id="product_name" aria-autocomplete="list" class="form-control" required>
                                                <div class="invalid-feedback">
                                                    Vui lòng nhập tên sản phẩm !
                                                </div>
                                            </div> <!---->
                                        </div>

                                        <div class="form-group">
                                            <div class="position-relative">
                                                <input type="text" placeholder="Mã sản phẩm" disabled="disabled" id="product_code" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <input type="text" placeholder="Đơn vị tính - Số lượng tồn" id="product_unit" disabled="disabled" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <div class="input-group">
                                                    <div class="input-group-append">
                                                        <span id="basic-addon2" class="input-group-text">Giá bán:</span>
                                                    </div>
                                                    <input type="text" placeholder="Giá bán" id="product_price" disabled="disabled" class="form-control">
                                                </div>
                                            </div>
                                            <!---->
                                        </div>
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <div class="input-group">
                                                    <div class="input-group-append">
                                                        <span id="basic-addon2" class="input-group-text">Tồn nợ</span>
                                                    </div>
                                                    <input type="text" placeholder="0" id="first-name-icon" disabled="disabled" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <div class="input-group mb-3">
                                                    <input type="number" id="product_quantity" aria-label="Recipient's username" aria-describedby="basic-addon2" min="1" class="form-control" value="1" required>
                                                    <div class="input-group-append">
                                                        <span id="basic-addon2" class="input-group-text">SL (*)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!---->
                                        </div>
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <div class="input-group mb-3">
                                                    <input type="number" id="product_discount" aria-label="Recipient's username" aria-describedby="basic-addon2" min="0" value="0" max="100" class="form-control">
                                                    <div class="input-group-append">
                                                        <span id="basic-addon2" class="input-group-text">CK (%)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!---->
                                        </div>
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-append">
                                                        <span id="basic-addon2" class="input-group-text">Thành tiền:</span>
                                                    </div>
                                                    <input type="text" id="sum_price" placeholder="Tổng" disabled="disabled" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <input id="cart_note" placeholder="Ghi chú" class="form-control">
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-primary btn-block" id="submit_addCart">Thêm</button>
                                        <button type="button" class="btn btn-info btn-block" id="refresh_cart">
                                            Làm mới
                                        </button>
                                        <button type="button" class="btn btn-primary btn-block" id="submit_updateCart"  style="display: none;">Cập nhật</button>
                                        <button type="button" class="btn btn-danger btn-block" id="Cancel_Cart" style="display: none">
                                            Huỷ bỏ
                                        </button>

                                        <hr>
                                        <button type="button" id="payment_btn" disabled="disabled" onclick="Payment_order()" class="btn btn-warning btn-block">
                                            Thanh toán
                                        </button>
                                        <button type="button" disabled="disabled" onclick="Payment_order()" class="btn btn-dark btn-block" id="btn_debit">
                                            Ghi nợ
                                        </button>
                                        <hr>
                                        <button type="button" id="order_btn" disabled="disabled" class="btn btn-success btn-block" onclick="openWin('0')">
                                            Xem hoá đơn
                                        </button>


                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div id="dataContainer">
                @{ Html.RenderAction("Index", "carts", new { customer_id = -1 });}
            </div>


        </div>
    </div>
</section>
<div id="AddCustomer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AddGroupProductLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <form class="needs-validation" method="post" action="@Url.Action("Create_Customer", "customers")" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 id="customModalTitle" class="modal-title white">Thêm mới khách hàng</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Họ và tên<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập họ tên" id="create_customer_name" name="customer_name" class="form-control" pattern="\S+.*" required>
                                    <div class="invalid-feedback">
                                        Vui lòng nhập họ và tên !
                                    </div>
                                </div>

                                <!---->
                            </div>
                            <div class="form-group">
                                <label>
                                    Số điện thoại<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập số điện thoại" id="sale_customer_phone" name="customer_phone" class="form-control" pattern="\S+.*" required>
                                    <div class="invalid-feedback">
                                        Vui lòng nhập số điện thoại !
                                    </div>
                                </div>
                                <!---->
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ Email</label>
                                <div class="position-relative">
                                    <input type="email" placeholder="Nhập địa chỉ Email" id="customer_email" name="customer_email" class="form-control">
                                </div>
                                <!---->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Ngày sinh</label>
                                <div class="position-relative">
                                    <input type="date" id="customers_birth" name="customers_birth" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Số tài khoản ngân hàng</label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập số tài khoản" id="customer_account" name="customer_account" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Tên ngân hàng</label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập tên ngân hàng" id="customer_bank" name="customer_bank" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Nhóm khách hàng<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <select id="sale_customer_type" name="customer_type" class="form-control" required>
                                        <option value="" disabled="disabled" selected="selected">Chọn nhóm khách hàng</option>
                                        <option value="0">Khách đơn lẻ</option>
                                        <option value="1">Công ty (khách sỉ)</option>
                                        <option value="2">Nhà cung cấp</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Vui lòng chọn nhóm khách hàng !
                                    </div>
                                </div>
                                <!---->
                            </div>
                            <div class="form-group">
                                <label>
                                    Địa chỉ<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <textarea id="customer_address" name="customer_address" placeholder="Nhập địa chỉ" rows="1" class="form-control" pattern="\S+.*" required></textarea>
                                    <div class="invalid-feedback">
                                        Vui lòng nhập đại chỉ !
                                    </div>
                                </div>
                                <!---->
                            </div>
                            <div class="form-group">
                                <label>Ghi chú</label>
                                <div class="position-relative">
                                    <textarea id="customer_note" name="customer_note" placeholder="Ghi chú" rows="1" class="form-control"></textarea>
                                </div>
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                    <button type="button" class="btn btn-primary" id="add_customer_sale">Thêm mới</button>
                </div>
            </div>
        </form>

    </div>
</div>

<script>

 
</script>
