@model CAP_TEAM05_2022.Models.StatisticsViewModel
@using Constants = CAP_TEAM05_2022.Helper.Constants;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";
}

<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Phân tích thống kê</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Phân tích thống kê</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- table card-1 start -->
            <div class="col-md-12 col-xl-12">
                <div class="card flat-card">
                    <div class="row-table">
                        <div class="col-sm-3 card-body br">
                            <div class="row">
                                <div class="col-sm-4">
                                    <i class="icon feather icon-eye text-c-green mb-1 d-block"></i>
                                </div>
                                <div class="col-sm-8 text-md-center">
                                    <h5>@Model.CountUser</h5>
                                    <span>Nhân sự</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 card-body br">
                            <div class="row">
                                <div class="col-sm-4">
                                    <i class="icon feather icon-music text-c-red mb-1 d-block"></i>
                                </div>
                                <div class="col-sm-8 text-md-center">
                                    <h5>@Model.CountSupplier</h5>
                                    <span>Công ty cung cấp</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 card-body br">
                            <div class="row">
                                <div class="col-sm-4">
                                    <i class="icon feather icon-shopping-cart text-c-blue mb-1 d-blockz"></i>
                                </div>
                                <div class="col-sm-8 text-md-center">
                                    <h5>@Model.CountOrder</h5>
                                    <span>Đơn hàng</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <i class="icon feather icon-wifi text-c-blue mb-1 d-block"></i>
                                </div>
                                <div class="col-sm-8 text-md-center">
                                    <h5>Chưa làm</h5>
                                    <span>Tổng lợi nhuận</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- table card-1 end -->
            <!-- prject ,team member start -->
            <div class="col-xl-6 col-md-12">
                <div class="card table-card">
                    <div class="card-header mb-md-n5" id="chart"></div>
                </div>
            </div>
            <div class="col-xl-6 col-md-12">
                <div class="card latest-update-card">
                    <div class="card-header mb-md-n5" id="chart2"></div>
                </div>
            </div>
            <!-- prject ,team member start -->
            <!-- seo start -->
            <div class="col-xl-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-md-12 m-3" id="chart3"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- seo end -->
            <!-- Latest Customers start -->
            <div class="col-lg-8 col-md-12">
                <div class="card table-card review-card">
                    <div class="card-header borderless ">
                        <h5>Customer Reviews</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pb-0">
                        <div class="review-block">
                            <div class="row">
                                <div class="col-sm-auto p-r-0">
                                    <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius profile-img cust-img m-b-15">
                                </div>
                                <div class="col">
                                    <h6 class="m-b-15">John Deo <span class="float-right f-13 text-muted"> a week ago</span></h6>
                                    <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                    <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                    <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                    <a href="#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                    <a href="#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                    <p class="m-t-15 m-b-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <a href="#!" class="m-r-30 text-muted"><i class="feather icon-thumbs-up m-r-15"></i>Helpful?</a>
                                    <a href="#!"><i class="feather icon-heart-on text-c-red m-r-15"></i></a>
                                    <a href="#!"><i class="feather icon-edit text-muted"></i></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-auto p-r-0">
                                    <img src="assets/images/user/avatar-4.jpg" alt="user image" class="img-radius profile-img cust-img m-b-15">
                                </div>
                                <div class="col">
                                    <h6 class="m-b-15">Allina D’croze <span class="float-right f-13 text-muted"> a week ago</span></h6>
                                    <a href="#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                    <a href="#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                    <a href="#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                    <a href="#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                    <a href="#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                    <p class="m-t-15 m-b-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <a href="#!" class="m-r-30 text-muted"><i class="feather icon-thumbs-up m-r-15"></i>Helpful?</a>
                                    <a href="#!"><i class="feather icon-heart-on text-c-red m-r-15"></i></a>
                                    <a href="#!"><i class="feather icon-edit text-muted"></i></a>
                                    <blockquote class="blockquote m-t-15 m-b-0">
                                        <h6>Allina D’croze</h6>
                                        <p class="m-b-0 text-muted">Lorem Ipsum is simply dummy text of the industry.</p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="mb-3">Power</h5>
                                <h2>2789<span class="text-muted m-l-5 f-14">kw</span></h2>
                                <div id="power-card-chart1"></div>
                                <div class="row">
                                    <div class="col col-auto">
                                        <div class="map-area">
                                            <h6 class="m-0">2876 <span> kw</span></h6>
                                            <p class="text-muted m-0">month</p>
                                        </div>
                                    </div>
                                    <div class="col col-auto">
                                        <div class="map-area">
                                            <h6 class="m-0">234 <span> kw</span></h6>
                                            <p class="text-muted m-0">Today</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="mb-3">Temperature</h5>
                                <h2>7.3<span class="text-muted m-l-10 f-14">deg</span></h2>
                                <div id="power-card-chart3"></div>
                                <div class="row">
                                    <div class="col col-auto">
                                        <div class="map-area">
                                            <h6 class="m-0">4.5 <span> deg</span></h6>
                                            <p class="text-muted m-0">month</p>
                                        </div>
                                    </div>
                                    <div class="col col-auto">
                                        <div class="map-area">
                                            <h6 class="m-0">0.5 <span> deg</span></h6>
                                            <p class="text-muted m-0">Today</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card chat-card">
                    <div class="card-header">
                        <h5>Chat</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row m-b-20 received-chat">
                            <div class="col-auto p-r-0">
                                <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius wid-40">
                            </div>
                            <div class="col">
                                <div class="msg">
                                    <p class="m-b-0">Nice to meet you!</p>
                                </div>
                                <p class="text-muted m-b-0"><i class="fa fa-clock-o m-r-10"></i>10:20am</p>
                            </div>
                        </div>
                        <div class="row m-b-20 send-chat">
                            <div class="col">
                                <div class="msg">
                                    <p class="m-b-0">Nice to meet you!</p>
                                </div>
                                <p class="text-muted m-b-0"><i class="fa fa-clock-o m-r-10"></i>10:20am</p>
                            </div>
                            <div class="col-auto p-l-0">
                                <img src="assets/images/user/avatar-3.jpg" alt="user image" class="img-radius wid-40">
                            </div>
                        </div>
                        <div class="row m-b-20 received-chat">
                            <div class="col-auto p-r-0">
                                <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius wid-40">
                            </div>
                            <div class="col">
                                <div class="msg">
                                    <p class="m-b-0">Nice to meet you!</p>
                                    <img src="assets/images/widget/dashborad-1.jpg" alt="">
                                    <img src="assets/images/widget/dashborad-3.jpg" alt="">
                                </div>
                                <p class="text-muted m-b-0"><i class="fa fa-clock-o m-r-10"></i>10:20am</p>
                            </div>
                        </div>
                        <div class="input-group m-t-15">
                            <input type="text" name="task-insert" class="form-control" id="Project" placeholder="Send message">
                            <div class="input-group-append">
                                <button class="btn btn-primary">
                                    <i class="feather icon-message-circle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="mb-3">Total Leads</h5>
                        <p class="text-c-green f-w-500"><i class="fa fa-caret-up m-r-15"></i> 18% High than last month</p>
                        <div class="row">
                            <div class="col-4 b-r-default">
                                <p class="text-muted m-b-5">Overall</p>
                                <h5>76.12%</h5>
                            </div>
                            <div class="col-4 b-r-default">
                                <p class="text-muted m-b-5">Monthly</p>
                                <h5>16.40%</h5>
                            </div>
                            <div class="col-4">
                                <p class="text-muted m-b-5">Day</p>
                                <h5>4.56%</h5>
                            </div>
                        </div>
                    </div>
                    <div id="tot-lead" style="height:150px"></div>
                </div>
            </div>
            <!-- Latest Customers end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/apexchart/dist/apexcharts.min.js"></script>
    <script>
        $(document).ready(function () {
            var optionsChart1 = {
                plotOptions: {
                    pie: {
                        customScale: 1,
                        offsetX: 0,
                        offsetY: 0,


                        donut: {
                            size: '55%',
                            background: 'transparent',
                            labels: {
                                show: true,
                                name: {
                                    show: true,
                                    fontSize: '14px',
                                    fontFamily: 'Open Sans',
                                    offsetY: -10
                                },
                                value: {
                                    show: true,
                                    fontSize: '18px',
                                    fontFamily: 'Open Sans',
                                    offsetY: 16,
                                    //format value cho cho pie bất kỳ khi pie đó được hover
                                    formatter: function (val) {
                                        return (val + ' nhân sự')
                                    }
                                },
                                total: {
                                    show: true,
                                    showAlways: false,
                                    label: 'Nhân sự',
                                    fontSize: '1.8rem',
                                    fontFamily: 'Open Sans',
                                    color: '#373d3f',
                                    //format value cho cho lable tổng khi không hover vào pie nào
                                    formatter: function (w) {
                                        return w.globals.seriesTotals.reduce((a, b) => {
                                            return a + b
                                        }, 0)
                                    }
                                }
                            }
                        },
                    },

                },

                chart: {
                    defaultLocale: 'en',
                    locales: [{
                        name: 'en',
                        options: {
                            toolbar: {
                                "exportToSVG": "Tải về SVG",
                                "exportToPNG": "Tải về Hình",
                                "exportToCSV": "Tải về CSV",
                                "menu": "Tùy chọn",
                            }
                        }
                    }],
                    toolbar: {
                        show: true,
                        offsetX: 0,
                        offsetY: 0,
                        tools: {
                            download: true,
                        },
                        autoSelected: 'zoom'
                    },
                    type: 'donut',
                },
                labels:  ["Quản trị viên","Nhân viên"],
                series:  [@Model.CountAdmin, @Model.CountStaff],
                legend: {
                    position: 'bottom'
                },
                title: {
                    text: 'Thống kê theo nhân sự',
                    style: {
                        fontSize: '18px',
                        fontWeight: 'bold',
                        fontFamily: 'sans - serif',
                        color: '#263238'
                    },
                },


            };
            var optionsChart2 = {
                series: @Html.Raw((Json.Encode(Model.CountArr1))),
                chart: {
                    type: 'pie',
                    defaultLocale: 'en',
                    locales: [{
                        name: 'en',
                        options: {
                            toolbar: {
                                "exportToSVG": "Tải về SVG",
                                "exportToPNG": "Tải về Hình",
                                "exportToCSV": "Tải về CSV",
                                "menu": "Tùy chọn",
                            }
                        }
                    }],
                    toolbar: {
                        show: true,
                        offsetX: 0,
                        offsetY: 0,
                        tools: {
                            download: true,
                        },
                        autoSelected: 'zoom'
                    },
                },
                plotOptions: {
                    pie: {
                        customScale: 1,
                        offsetX: 0,
                        offsetY: 0,



                    }
                },
                legend: {
                    position: 'bottom'
                },
                labels: ['Đã thanh toán', 'Ghi nợ tiền mặt', 'Ghi nợ tiền ghi nợ'],
                title: {
                    text: 'Thống kê đơn hàng',
                    style: {
                        fontSize: '20px',
                        fontWeight: 'bold',
                        fontFamily: 'sans - serif',
                        color: '#263238'
                    },
                },

            };
            var optionsChart3 = {
                series: [{
                    data:  @Html.Raw((Json.Encode(Model.CountArr2))),
                    name: "Thiết bị"
                }, {
                    data:  @Html.Raw((Json.Encode(Model.CountArr3))),
                    name: "Quân trang"
                }
                , {
                    data:  @Html.Raw((Json.Encode(Model.CountArr4))),
                    name: "Vật dụng"
                    }
                ],
                chart: {
                    type: 'bar',
                    height: 430
                },
                plotOptions: {
                    bar: {
                        horizontal: true,
                        dataLabels: {
                            position: 'top',
                        },
                    }
                },
                dataLabels: {
                    enabled: true,
                    offsetX: -6,
                    style: {
                        fontSize: '12px',
                        colors: ['#fff']
                    }
                },
                stroke: {
                    show: true,
                    width: 1,
                    colors: ['#fff']
                },
                tooltip: {
                    shared: true,
                    intersect: false
                },
                xaxis: {
                    categories: @Html.Raw((Json.Encode(Model.ItemArr2))),
                },
                title: {
                    text: 'Nhập kho theo thời gian',
                    style: {
                        fontSize: '20px',
                        fontWeight: 'bold',
                        fontFamily: 'sans - serif',
                        color: '#263238'
                    },
                },
            };

            var optionsChart4 = {
                series: [
                    {
                        name: "Thiết bị",
                        data:  @Html.Raw((Json.Encode(Model.CountArrLoan1)))
                    },
                    {
                        name: "Quân trang",
                        data:  @Html.Raw((Json.Encode(Model.CountArrLoan2)))
                    }
                ],
                chart: {
                    height: 600,
                    type: 'line',
                    dropShadow: {
                        enabled: true,
                        color: '#000',
                        top: 18,
                        left: 7,
                        blur: 10,
                        opacity: 0.2
                    },
                    toolbar: {
                        show: false
                    }
                },
                dataLabels: {
                    enabled: true,
                },
                stroke: {
                    curve: 'smooth'
                },
                title: {
                    text: 'Average High & Low Temperature',
                    align: 'left'
                },
                grid: {
                    borderColor: '#e7e7e7',
                    row: {
                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                    },
                },
                markers: {
                    size: 1
                },
                xaxis: {
                    categories:  @Html.Raw((Json.Encode(Model.ItemArr3))),
                    title: {
                        text: 'Ngày'
                    }
                },

                legend: {
                    position: 'top',
                    horizontalAlign: 'right',
                    floating: true,
                    offsetY: -25,
                    offsetX: -5
                },
                title: {
                    text: 'Thiết bị/Quân trang đã mượn',
                    style: {
                        fontSize: '20px',
                        fontWeight: 'bold',
                        fontFamily: 'sans - serif',
                        color: '#263238'
                    },
                },
            };


            var chart = new ApexCharts(document.querySelector("#chart"), optionsChart1);
            chart.render();
            var chart2 = new ApexCharts(document.querySelector("#chart2"), optionsChart2);
            chart2.render();

            var chart3 = new ApexCharts(document.querySelector("#chart3"), optionsChart3);
            chart3.render();

            var chart4 = new ApexCharts(document.querySelector("#chart4"), optionsChart4);
            chart4.render();

        })

    </script>
}
