@model IEnumerable<CAP_TEAM05_2022.Models.import_inventory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";

}
<input type="text" hidden id="URLInventoryList" value="@Url.Action("InventoryList", "import_inventory")" />

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Tồn kho</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://tancool.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Tồn kho</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <div class="mx-datepicker">
                                        <div class="mx-input-wrapper">
                                            <input name="date_start" id="filter_DateStart" type="date" placeholder="" class="form-control custom-width" value="@String.Format("{0:yyyy-MM-dd}", DateTime.Now.AddDays((-DateTime.Now.Day) + 1))">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mx-datepicker">
                                        <div class="mx-input-wrapper">
                                            <input name="date_end" id="filter_DateEnd" type="date" class="form-control custom-width" value="@String.Format("{0:yyyy-MM-dd}",DateTime.Now.AddMonths(1).AddDays(-(DateTime.Now.Day)))">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <input type="text" hidden id="URLExportExcel" value="@Url.Action("ExportExcel_Inventory", "Excel")" />
                                    <button class="btn btn-secondary float-right ml-2" id="btnExportExcel_Inventory">
                                        Xuất tệp
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="dataContainer">
                        @{ Html.RenderAction("InventoryList", "import_inventory");}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="exchangeSupplierModal" tabindex="-1" aria-labelledby="exchangeSupplierModalTitle" class="modal fade bd-example-modal-lg" aria-modal="true" role="dialog">
    <div role="document" class="modal-dialog modal-lg">
        <form class="needs-validation Return_Supplier" method="post" action="@Url.Action("Create_returnSupplier", "return_supplier")" novalidate>
            <input type="number" id="id_inventory" name="id_inventory" hidden class="form-control">

            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 id="exchangeSupplierModalTitle" class="modal-title white">Trả sản phẩm</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Sản phẩm
                                </label>
                                <input type="text" disabled id="productName_inventory" class="form-control">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Nhà cung cấp
                                </label>
                                <input type="text" disabled id="name_supplier" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Số lượng còn
                                </label>
                                <div class="position-relative">
                                    <input type="text" disabled id="quantity_stock" class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Đơn giá sản phẩm 
                                </label>
                                <div class="position-relative">
                                    <input type="text" disabled id="price_product_stock" class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Số lượng trả <span class="text-danger">(*)</span>
                                </label>
                                <div class="position-relative">
                                    <input type="number" name="quantity" id="quantity" value="1" min="1" class="form-control" placeholder="Số lượng trả" required>
                                    <div class="error-quantity text-danger mb-3 d-none">
                                        Vui lòng nhập số lượng lớn hơn 0
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                   Số tiền hoàn lại cho nhà cung cấp
                                </label>
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <span id="basic-addon1" class="input-group-text spCollect">
                                            Hoàn lại:
                                        </span>
                                    </div>
                                    <input type="text" id="cost_return" disabled="disabled" class="form-control" value="0">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>
                                Ghi chú:
                            </label>
                            <div class="form-group">
                                <textarea name="note" id="note" cols="10" rows="5" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary me-1 mb-1">Trờ lại</button>
                        <button type="submit" class="btn btn-primary me-1 mb-1">Lưu</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script type="text/javascript">
    var row;
    $(document).ready(function () {
        $('#example').DataTable({
            pagingType: 'full_numbers',
        });
    });
    $('.Return_Supplier').submit(function (e) {
        var form = $(this);

        // Check if form is valid then submit ajax
        if (form[0].checkValidity()) {
            e.preventDefault();
            var url = form.attr('action');
            $.ajax({
                url: url,
                type: 'POST',
                data: form.serialize(),
                success: function (data) {
                    // Hide bootstrap modal to prevent conflict
                    $('.modal').modal('hide');

                    if (data.status) {
                        // Refresh table data
                        sweetAlert
                            ({
                                title: "Thành công !",
                                text: data.message,
                                type: "success"
                            })

                        form[0].reset();
                        form.removeClass('was-validated');
                    } else {
                        swal({
                            title: 'Lỗi !',
                            text: data.message,
                            type: 'error',

                        }); // Show bootstrap modal again
                    }
                }
            });
        }
    });
    $("#quantity").change(function () {
        var quantity = $("#quantity").val();
        var price_product = $("#price_product_stock").val().replace(/\,/g, '').replace(/\./g, '');
        var total = quantity * price_product;
        $("#cost_return").val(total.toLocaleString());
    });
</script>
<script type="text/javascript">
    var row;
    $(document).ready(function () {
        $('#example1').DataTable({
            pagingType: 'full_numbers',
        });
    });

</script>
<script type="text/javascript">
    var row;
    $(document).ready(function () {
        $('#example2').DataTable({
            pagingType: 'full_numbers',
        });
    });
</script>






