@model CAP_TEAM05_2022.Models.product
@using CAP_TEAM05_2022.Models
@using Constants = CAP_TEAM05_2022.Helper.Constants


@{
    bool isCreate = ViewBag.isCreate;
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";
    List<customer> supplier = ViewBag.SupplierId;

}
@section style {
    <link href="~/Content/css/custom-css.css" rel="stylesheet" />
}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Tồn kho</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://tancool.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Tồn kho</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <form class="ProductForm" method="post" action="@Url.Action("Create_Product", "products")" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="AddProductLabel">Thêm mới sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body ">
                    @Html.AntiForgeryToken()
                    @if (!isCreate)
                    {
                        @Html.HiddenFor(m => m.id)
                        @Html.HiddenFor(m => m.code)
                        @Html.HiddenFor(m => m.created_at)
                        @Html.HiddenFor(m => m.created_by)
                        @Html.HiddenFor(m => m.status)
                    }
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Tên sản phẩm<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                </div> <!---->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Nhóm hàng<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    @Html.DropDownListFor(m => m.category_id, (SelectList)ViewBag.GroupId, "---- Chọn nhóm sản phẩm ----", new { @class = "form-control custom-select", @aria_label = "Chọn danh mục thiết bị" })
                                    @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
                                </div> <!---->

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Danh mục sản phẩm<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    @Html.DropDownListFor(m => m.category_id, (SelectList)ViewBag.CategoryId, "---- Chọn danh mục sản phẩm ----", new { @class = "form-control custom-select", @aria_label = "Chọn danh mục thiết bị" })
                                    @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
                                </div> <!---->

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Nhà cung cấp<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <select class="form-control" required data-val="true" data-val-required="Vui lòng chọn nhà cung cấp !" id="SupplierDropdown" name="SupplierDropdown">
                                        <option value="">---Chọn nhà cung cấp---</option>
                                        @foreach (var item in supplier)
                                        {
                                            <option value="@item.id">@item.name</option>
                                        }

                                    </select>

                                    @Html.ValidationMessage("SupplierDropdown", "", new { @class = "text-danger" })

                                </div> <!---->

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Tồn kho<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <div class="input-group mb-3">
                                        <input type="number" data-model="quantity" placeholder="Nhập số lượng" required data-val="true" data-val-required="Vui lòng nhập số lượng tồn !" id="add_quantity" name="quantity" class="form-control">
                                        <div class="input-group-append">
                                            <select id="unit_buy" class="input-group-text select-unit" name="unit" required data-val="true" data-val-required="Vui lòng đơn vị !">
                                                <option disabled="disabled" value="" selected>Đơn vị</option>
                                                <optgroup label="Khác">
                                                    <option data-name="bao" value="Bao">
                                                        bao
                                                    </option>
                                                    <option data-name="chai" value="Chai">
                                                        chai
                                                    </option>
                                                    <option data-name="gói" value="Gói">
                                                        Gói
                                                    </option>
                                                </optgroup>
                                                <optgroup label="Khối lượng">

                                                    <option data-name="tạ" value="Tạ">
                                                        tạ
                                                    </option>

                                                    <option data-name="kg" value="Kg">
                                                        kg
                                                    </option>
                                                    <option data-name="gam" value="Gam">
                                                        gam
                                                    </option>
                                                </optgroup>
                                                <optgroup label="Thể tích">
                                                    <option data-name="lít" value="Lít">
                                                        lít
                                                    </option>
                                                    <option data-name="ml" value="ml">
                                                        ml
                                                    </option>
                                                </optgroup>

                                            </select>

                                        </div>

                                    </div>
                                    @Html.ValidationMessage("quantity", "", new { @class = "text-danger" })
                                    @Html.ValidationMessage("unit", "", new { @class = "text-danger" })
                                </div> <!---->

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Đơn giá bán<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập giá tiền" id="product-price-sold" max="999999999999" class="form-control Price"
                                           pattern="[0-9.,]+" data-type="number" name="sell_price" required>
                                    <div class="invalid-feedback">
                                        Giá tiền bán không được để trống !
                                    </div>
                                </div> <!---->

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="product-price-import">
                                    Đơn giá nhập<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập giá tiền" id="purchase_price" max="999999999999" class="form-control Price"
                                           pattern="[0-9.,]+" data-type="number" name="purchase_price" required>
                                    <div class="invalid-feedback">
                                        Giá tiền nhập không được để trống !
                                    </div>
                                </div>
                                <!---->
                            </div>
                        </div>

                        <div class="col-md-12 mt-2">
                            <div class="form-group">
                                <input type="checkbox" id="swap" name="swap">
                                <input type="number" id="check_swap" name="check_swap" hidden value="0" />
                                <label for="swap">Quy đổi sang đơn vị khác</label>
                            </div>
                        </div>
                        <div class="col-md-3 swap" style="display: none;">
                            <div class="form-group">
                                <div class="position-relative">
                                    <div class="input-group mb-3">
                                        <input type="number" value="1" disabled data-model="unit_current_quantity" id="unit-quantity-current" aria-describedby="basic-addon2" class="form-control" required="required">
                                        <div class="input-group-append">
                                            <span id="unit_current" class="input-group-text unit_current"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-icon swap" style="display: none;">
                            <div class="form-group">
                                <i aria-hidden="true" class="feather icon-arrow-right icon-swap">
                                </i>
                            </div>
                        </div>
                        <div class="col-md-4 swap" style="display: none;">
                            <div class="form-group">
                                <div class="position-relative">
                                    <div class="input-group mb-3">
                                        <input type="number" name="quantity_swap" data-model="unit_swap_quantity" placeholder="Nhập số lượng" id="unit-quantity-input" max="999999999999" aria-describedby="unit-quantity" class="form-control">
                                        <div class="input-group-append">
                                            <select id="unit_swap" name="unit_swap" class="input-group-text select-unit">
                                                <option disabled="disabled" value="" selected>Đơn vị</option>
                                                <optgroup label="Khác">
                                                    <option data-name="bao" value="Bao">
                                                        bao
                                                    </option>
                                                    <option data-name="chai" value="Chai">
                                                        chai
                                                    </option>
                                                </optgroup>
                                                <optgroup label="Khối lượng">

                                                    <option data-name="tạ" value="Tạ">
                                                        tạ
                                                    </option>

                                                    <option data-name="kg" value="Kg">
                                                        kg
                                                    </option>
                                                    <option data-name="gam" value="Gam">
                                                        gam
                                                    </option>
                                                </optgroup>
                                                <optgroup label="Thể tích">
                                                    <option data-name="lít" value="Lít">
                                                        lít
                                                    </option>
                                                    <option data-name="ml" value="ml">
                                                        ml
                                                    </option>
                                                </optgroup>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 swap" style="display: none;">
                            <div class="form-group">
                                <input type="text" name="price_swap" placeholder="Nhập giá tiền" id="product-price-swap" max="999999999999" data-model="unit_price" class="form-control Price">
                            </div>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                </div>
            </div>
        </form>
    </div>
</section>
@section scripts {
    <!--Validation-->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
                $('.CategoryForm').submit(function (e) {
                    var form = $(this);
                    var _this = $(this);
                    var _form = _this.closest("form");
                    var isvalid = _form.valid()
                    // Check if form is valid then submit ajax
                    if (isvalid) {
                        e.preventDefault();
                        var url = form.attr('action');
                        $.ajax({
                            url: url,
                            type: 'POST',
                            data: form.serialize(),
                            success: function (data) {
                                // Hide bootstrap modal to prevent conflict
                                $('.modal').modal('hide');

                                if (data.status) {
                                    // Refresh table data
                                    GetList_CategoryAndGroup();
                                    Swal.fire('Thành công !', data.message, 'success')

                                    form[0].reset();
                                    form.removeClass('was-validated');
                                } else {
                                    Swal.fire('Lỗi !', data.message, 'error')
                                }
                            }
                        });
                    }
                });
                 document.getElementById('swap').onclick = function (e) {
            if (this.checked) {
                $(".swap").show();
                $("#check_swap").val(@Constants.UNIT_CONVERT)
                var unit_buy = $("#unit_buy").val()
                document.getElementsByClassName('unit_current')[0].innerHTML = unit_buy;
            }
            else {
                $(".swap").hide();
                $("#check_swap").val(@Constants.NO_UNIT_CONVERT)

            }
        };
        $("#unit_buy").change(function () {
            var unit_buy = $("#unit_buy").val()
            document.getElementsByClassName('unit_current')[0].innerHTML = unit_buy;
        });

        $("#add_quantity").change(function () {
            var add_quantity = $("#add_quantity").val()
            var purchase_price = $("#purchase_price").val().replace(/\,/g, '').replace(/\./g, '');
            $("#Sum_purchase").val((add_quantity * purchase_price).toLocaleString());
        });
        $("#purchase_price").change(function () {
            var add_quantity = $("#add_quantity").val()
            var purchase_price = $("#purchase_price").val().replace(/\,/g, '').replace(/\./g, '');
            $("#Sum_purchase").val((add_quantity * purchase_price).toLocaleString());
        });
    </script>
}
