@model IEnumerable<CAP_TEAM05_2022.Models.price_product>
@using CAP_TEAM05_2022.Models
@{
    int no = 0;
    var product = (product)ViewBag.Product;
}
<div id="priceHistory" tabindex="-1" aria-labelledby="priceHistoryTitle" class="modal fade bd-example-modal-lg" style="display: none;" aria-hidden="true">
    <div role="document" class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 id="priceHistoryTitle" class="modal-title white">Lịch sử giá - @product.name - @product.code</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">STT</th>
                                        <th class="text-center">Đơn vị</th>
                                        <th class="text-center">Giá sản phẩm</th>
                                        <th class="text-center">Ngày cập nhật</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        no++;
                                    <tr>
                                        <td class="text-center">
                                            @no
                                        </td>
                                        <td class="text-center">
                                            @item.unit
                                        </td>
                                        <td class="text-center">
                                            @item.price.ToString("N0")
                                        </td>
                                        <td class="text-center">
                                            @String.Format("{0:HH:mm - dd/MM/yyy}", item.updated_at)
                                        </td>
                                    </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
