@model IEnumerable<CAP_TEAM05_2022.Models.product>
@using Constants = CAP_TEAM05_2022.Helper.Constants

@{
    int no = 0;
}
<table id="example" class="table table-hover">
    <thead>
        <tr>
            <th class="sticky-col first-col">#</th>
            <th class="sticky-col first-col">Tên sản phẩm</th>
            <th>Nhóm hàng</th>
            <th>Danh mục</th>
            <th class="text-center">Số lượng tồn</th>
            <th class="text-center">Giá bán</th>
            <th class="text-center">Giá bán nợ</th>
            <th class="text-center">Đã bán</th>
            <th class="text-center">Trạng thái</th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string customswitch_SP = "customswitch" + item.id;

            no++;
        <tr>
            <td class="sticky-col first-col">@no  <input hidden type="text" name="record" value="@item.code"></td>
            <td class="sticky-col first-col">
                <div class="product-code">
                    @item.code
                </div>
                <div class="product-name">
                    @item.name
                </div>
            </td>
            <td>@item.group.name</td>
            <td>@item.category.name</td>
            <td class="text-center">
                @item.quantity.ToString("N0")<span class="txt-unit">@item.unit</span>
                <div>@item.quantity_remaning<span class="txt-unit">@item.unit_swap</span></div>
            </td>
            <td class="text-center">
                <div>@item.sell_price.ToString("N0")<span class="txt-unit">/@item.unit</span></div>
                <div>@item.sell_price_swap.ToString("N0")<span class="txt-unit">/@item.unit_swap</span></div>
            </td>
            <td class="text-center">
                <div>@item.sell_price_debt.ToString("N0")<span class="txt-unit">/@item.unit</span></div>
                <div>@item.sell_price_debt_swap.ToString("N0")<span class="txt-unit">/@item.unit_swap</span></div>
            </td>
            <td class="text-center">
                @{
                    int temp1 = (int)(item.import_inventory.Sum(i => i.sold_swap) / item.quantity_swap);
                    int temp2 = (int)(item.import_inventory.Sum(i => i.sold_swap) % item.quantity_swap);
                    if (temp2 > 0)
                    {
                        double temp3 = (double)(item.import_inventory.Sum(i => i.sold_swap) * 1.000000001 / item.quantity_swap) - temp1;

                        @(item.import_inventory.Sum(i => i.sold) - 1)<span class="txt-unit">@item.unit</span>
                        <div>@((int)(temp3 * item.quantity_swap))<span class="txt-unit">@item.unit_swap</span></div>
                    }
                    else
                    {
                        @(item.import_inventory.Sum(i => i.sold))<span class="txt-unit">@item.unit</span>

                    }
                }
            </td>
            <td class="text-center">
                @if (item.status == Constants.SHOW_STATUS)
                {
                    <div class="custom-control custom-switch">
                        <input type="checkbox" checked class="custom-control-input" id="@customswitch_SP">
                        <label class="custom-control-label" for="@customswitch_SP"></label>
                    </div>
                }
                else
                {
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="@customswitch_SP">
                        <label class="custom-control-label" for="@customswitch_SP"></label>
                    </div>
                }
                <input hidden type="text" id="URDEditStatus" value="@Url.Action("EditStatus_Product", "products")">
                <script language="javascript">
                         document.getElementById('@customswitch_SP').onclick = function (e) {
                                                                EditStatus(@item.id);
                                                        };
                </script>
            </td>
            <td>
                <button title="Lịch sử giá" class="btn btn-warning" onclick="PriceHistory(@item.id)">
                    <i class="feather icon-airplay">
                    </i>
                </button>
                <button title="Sao chép" class="btn btn-primary" onclick="createProduct(@item.id, @Constants.COPY_PRODUCT)">
                    <i class="feather icon-copy">
                    </i>
                </button>
                <button title="Cập nhật" class="btn btn-success" @*onclick="GetProduct(this, @item.id)"*@ onclick="EditProduct('@item.id')">
                    <i class="feather icon-edit">
                    </i>
                </button>
                <input hidden type="text" id="URLDelete" value="@Url.Action("Delete_Product", "products")">
                <button class="btn btn-danger" onclick="deleteAlert('@item.id', '@item.code')" id="Delete">
                    <i class="feather icon-trash-2">
                    </i>
                </button>
            </td>
        </tr>
        }

    </tbody>
</table>
