@model IEnumerable<CAP_TEAM05_2022.Models.product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";

}
<input type="text" hidden id="URLProductList" value="@Url.Action("_ProductList", "products")" />
<input type="text" hidden id="URLFindProduct" value="@Url.Action("FindProduct", "products")/" />


<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Quản lý sản phảm</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://tancool.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Quản lý sản phảm</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <input type="text" hidden id="URLExportExcel" value="@Url.Action("ExportExcel", "Excel")" />
                                    <button type="button" class="btn btn-secondary" id="btnExportExcel">Xuất tệp Excel</button>
                                    @*                                    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("ExportExcel","products")';">Xuất tệp Excel</button>
                                    *@
                                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#ImportModal">Nhập tệp Excel</button>
                                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("ExportTemplateExcel","Excel")';">Mẫu tệp Excel</button>
                                </div>

                                <div class="col-md-3">
                                    <input type="text" hidden id="URLgetCategory" value="@Url.Action("getCategory", "categories")" />
                                    <select class="custom-select" id="filter_GroupProduct" name="filter_GroupProduct" required>
                                        <option value="" disabled="disabled" selected="selected">Xem tất cả nhóm hàng</option>

                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" hidden id="URLgetGroupProduct" value="@Url.Action("getGroupProduct", "groups")" />
                                    <select class="custom-select" id="filter_Category" name="filter_Category" required>
                                        <option value="" disabled="disabled" selected="selected">Xem tất cả danh mục</option>

                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary float-right ml-2" data-toggle="modal" data-target="#AddProduct">Tạo mới</button>

                                </div>
                            </div>
                        </div>
                        <div class="card-body table-border-style">
                            <div class="col-lg-12 col-md-6 col-sm-12">
                                @if (Session["ViewBag.FileStatus"] != null)
                                {
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        @Session["ViewBag.FileStatus"].ToString()
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>

                                        </button>
                                    </div>
                                    Session["ViewBag.FileStatus"] = null;
                                }
                                @if (Session["Import_exist"] != null)
                                {

                                    <div class="alert alert-success alert-dismissible fade show" role="alert" data-toggle="modal" data-target="#Success">
                                            Đã nhập thành công file excel, nhấn vào để xem chi tiết !
                                    </div>
                                    Session["Import_exist"] = null;
                                }

                                @if (Session["ViewBag.Success"] != null)
                                {
                                    int success = int.Parse(Session["ViewBag.Success"].ToString());
                                    int failFormat = int.Parse(Session["ViewBag.FailFormat"].ToString());
                                    int exist = int.Parse(Session["ViewBag.Exist"].ToString());
                                    int miss = int.Parse(Session["ViewBag.MissData"].ToString());
                                    int count = success + failFormat + exist + miss;
                                    <button type="button" hidden class="btn btn-lg btn-block btn-outline-success mb-2" id="import-success"
                                            data-toggle="modal" data-target="#Success">
                                        Success
                                    </button>
                                    <script>
                                        window.onload = function () {
                                            document.getElementById('import-success').click();
                                        }
                                    </script>
                                    <!-- Modal -->
                                    <div class="modal fade text-left" id="Success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel34" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header  bg-primary ">
                                                    <h4 class="modal-title" id="myModalLabel34">Kết quả</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <div class="col-12">
                                                        <a> Nhập thành công <b>"@success"</b> trong số <b>"@count"</b> sản phẩm trong dữ liệu của tệp Excel</a>
                                                    </div>
                                                    <br />
                                                    <div class="col-12">

                                                        <button data-toggle="modal" data-target="#SuccessData" class="alert alert-success">
                                                            <strong>Thành công!</strong> Nhập sản phẩm thành công từ excel ! <b>(@success dữ liệu)</b>
                                                        </button>
                                                        <button data-toggle="modal" data-target="#FailFormat" class="alert alert-danger">
                                                            <strong>Thất bại!</strong> Nhập sản phẩm thất bại do tên danh mục hoặc nhóm hàng không có trong hệ thống! <b>(@failFormat dữ liệu) </b>
                                                        </button>
                                                        <button data-toggle="modal" data-target="#MissData" class="alert alert-warning">
                                                            <strong>Mất dữ liệu!</strong>  Nhập sản phẩm thất bại do thiếu thông tin sản phẩm ! <b>(@miss dữ liệu)</b>
                                                        </button>

                                                        <button data-toggle="modal" data-target="#ExitData" class="alert alert-info">
                                                            <strong>Tồn tại!</strong>  Sản phẩm đã tồn tại và hệ thống đã cập nhật lại thông tin ! <b>(@exist dữ liệu)</b>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="Xác nhận" required>

                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    Session["ViewBag.Success"] = null;
                                }
                            </div>
                            
                                    <div class="table-responsive" id="dataContainer">
                                        @{ Html.RenderAction("_ProductList", "products", new { group_id = -1, category_id = -1 });}

                                    </div>
                                </div>
                            </div>
                </div>
            </div>
            
            
            
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade text-left" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1"><b>Thông báo</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="text-center">
                <img src="~/Template/assets/images/in-progress-animate.svg" style=" display: block; margin-left: auto; margin-right: auto; width: 50%;" />
                <p> Vui lòng chờ trong khi hệ thống đang xử lý dữ liệu...</p>
            </div>

        </div>
    </div>
</div>
<div id="ImportModal" tabindex="-1" role="dialog" aria-labelledby="ImportModalTitle" aria-hidden="true" class="modal fade">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary styling-modal-header-update">
                <h5 id="ImportModalTitle" class="modal-title">Nhập tệp Excel</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Html.BeginForm("ImportExcel", "Excel", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <label>
                        Tệp Excel <span class="text-danger">(*)</span>
                    </label>
                    <input type="file" id="fileImport" accept=".xlsx, .xls" name="postedFile" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary btn-3d">Tải lại</button>
                    <button type="submit" class="btn btn-primary btn-3d" data-toggle="modal" data-target="#exampleModalCenter">Import</button>
                </div>
            }
        </div>
    </div>
</div>
<div id="AddProduct" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AddProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form class="needs-validation ProductForm" method="post" action="@Url.Action("Create_Product", "products")" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="AddProductLabel">Thêm mới sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body ">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Tên sản phẩm<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập tên sản phẩm" id="add_name" class="form-control" name="name_product" pattern="\S+.*" required>
                                    <div class="invalid-feedback">
                                        Vui lòng nhập tên sản phẩm !
                                    </div>
                                </div> <!---->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    số lượng sản phẩm<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <div class="input-group mb-3">
                                        <input type="number" data-model="quantity" placeholder="Nhập số lượng" id="add_quantity" name="quantity" max="999999999999" aria-describedby="quantity-buy" class="form-control" required>
                                        <div class="input-group-append">
                                            <select id="unit_buy" class="input-group-text select-unit" name="unit">
                                                <option disabled="disabled" value="" selected>Đơn vị</option>
                                                <optgroup label="Khối lượng">
                                                    <option data-name="tấn" value="Tấn">
                                                        tấn
                                                    </option>
                                                    <option data-name="tạ" value="Tạ">
                                                        tạ
                                                    </option>
                                                    <option data-name="yến" value="Yến">
                                                        yến
                                                    </option>
                                                    <option data-name="kg" value="Kg">
                                                        kg
                                                    </option>
                                                    <option data-name="gam" value="Gam">
                                                        gam
                                                    </option>
                                                </optgroup>
                                                <optgroup label="Độ dài">
                                                    <option data-name="km" value="Km">
                                                        km
                                                    </option>
                                                    <option data-name="mét" value="Mét">
                                                        mét
                                                    </option>
                                                    <option data-name="dm" value="Dm">
                                                        dm
                                                    </option>
                                                    <option data-name="cm" value="Cm">
                                                        cm
                                                    </option>
                                                    <option data-name="mm" value="Mm">
                                                        mm
                                                    </option>
                                                </optgroup>
                                                <optgroup label="Thể tích">
                                                    <option data-name="lít" value="Lít">
                                                        lít
                                                    </option>
                                                    <option data-name="ml" value="ml">
                                                        ml
                                                    </option>
                                                </optgroup>
                                                <optgroup label="Khác">
                                                    <option data-name="bao" value="Bao">
                                                        bao
                                                    </option>
                                                    <option data-name="chai" value="Chai">
                                                        chai
                                                    </option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback">
                                        Vui lòng nhập số lượng sản phẩm và lớn hơn 0 !
                                    </div>
                                </div> <!---->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Nhóm hàng<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <select class="custom-select" id="GroupProductDropdown" name="GroupProductDropdown" required>
                                    </select>
                                    <div class="invalid-feedback">Vui lòng chọn nhóm hàng</div>
                                </div> <!---->

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Danh mục sản phẩm<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <select class="custom-select" id="CategoryDropdown" name="CategoryDropdown" required>
                                    </select>
                                    <div class="invalid-feedback">Vui lòng chọn danh mục</div>
                                </div> <!---->

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Đơn giá bán<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập giá tiền" id="product-price-sold" max="999999999999" class="form-control "
                                           pattern="[0-9.,]+" data-type="number" name="sell_price" required>
                                    <div class="invalid-feedback">
                                        Giá tiền bán không được để trống !
                                    </div>
                                </div> <!---->

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="product-price-import">
                                    Đơn giá nhập<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập giá tiền" id="product-price-buy" max="999999999999" class="form-control"
                                           pattern="[0-9.,]+" data-type="number" name="purchase_price" required>
                                    <div class="invalid-feedback">
                                        Giá tiền nhập không được để trống !
                                    </div>
                                </div>
                                <!---->
                            </div>
                        </div>
                        <div class="col-md-12 mt-2">
                            <div class="form-group">
                                <input type="checkbox" id="swap" name="swap">
                                <input type="number" id="check_swap" name="check_swap" hidden value="0" />
                                <label for="swap">Quy đổi sang đơn vị khác</label>
                            </div>
                        </div>
                        <div class="col-md-3 swap" style="display: none;">
                            <div class="form-group">
                                <div class="position-relative">
                                    <div class="input-group mb-3" >
                                        <input type="number" value="1" disabled data-model="unit_current_quantity" id="unit-quantity-current" aria-describedby="basic-addon2" class="form-control" required="required">
                                        <div class="input-group-append">
                                            <span id="unit_current" class="input-group-text unit_current"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-icon swap" style="display: none;">
                            <div class="form-group">
                                <i aria-hidden="true" class="feather icon-arrow-right icon-swap">
                                </i>
                            </div>
                        </div>
                        <div class="col-md-4 swap" style="display: none;">
                            <div class="form-group">
                                <div class="position-relative">
                                    <div class="input-group mb-3">
                                        <input type="number" name="quantity_swap" data-model="unit_swap_quantity" placeholder="Nhập số lượng" id="unit-quantity-input" max="999999999999" aria-describedby="unit-quantity" class="form-control">
                                        <div class="input-group-append">
                                            <select id="unit_swap" name="unit_swap" class="input-group-text select-unit">
                                                <option disabled="disabled" value="" selected>Đơn vị</option>
                                                <optgroup label="Khối lượng">
                                                    <option data-name="tấn" value="Tấn">
                                                        tấn
                                                    </option>
                                                    <option data-name="tạ" value="Tạ">
                                                        tạ
                                                    </option>
                                                    <option data-name="yến" value="Yến">
                                                        yến
                                                    </option>
                                                    <option data-name="kg" value="Kg">
                                                        kg
                                                    </option>
                                                    <option data-name="gam" value="Gam">
                                                        gam
                                                    </option>
                                                </optgroup>
                                                <optgroup label="Độ dài">
                                                    <option data-name="km" value="Km">
                                                        km
                                                    </option>
                                                    <option data-name="mét" value="Mét">
                                                        mét
                                                    </option>
                                                    <option data-name="dm" value="Dm">
                                                        dm
                                                    </option>
                                                    <option data-name="cm" value="Cm">
                                                        cm
                                                    </option>
                                                    <option data-name="mm" value="Mm">
                                                        mm
                                                    </option>
                                                </optgroup>
                                                <optgroup label="Thể tích">
                                                    <option data-name="lít" value="Lít">
                                                        lít
                                                    </option>
                                                    <option data-name="ml" value="ml">
                                                        ml
                                                    </option>
                                                </optgroup>
                                                <optgroup label="Khác">
                                                    <option data-name="bao" value="Bao">
                                                        bao
                                                    </option>
                                                    <option data-name="chai" value="Chai">
                                                        chai
                                                    </option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 swap" style="display: none;">
                            <div class="form-group">
                                <input type="text" name="price_swap" placeholder="Nhập giá tiền" id="product-price-swap" max="999999999999" data-model="unit_price" class="form-control" >
                            </div>
                        </div>

                    </div>
                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="EditProduct" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="EditProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form class="needs-validation ProductForm" method="post" action="@Url.Action("UpdateProduct","products")" id="EditProduct" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="EditProductLabel">Chỉnh sửa thông tin sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body ">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Tên sản phẩm<span class="text-danger">*</span>
                                </label>
                                <input hidden id="edit_id" name="Product_id" />
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập tên sản phẩm" id="edit_name" class="form-control" name="name_product" pattern="\S+.*" required>
                                    <div class="invalid-feedback">
                                        Vui lòng nhập tên sản phẩm !
                                    </div>
                                </div> <!---->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Đơn vị tính<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập đơn vị tính " id="edit_unit" class="form-control" name="unit" pattern="\S+.*" required>
                                    <div class="invalid-feedback">
                                        Vui lòng nhập tên đơn vị tính !
                                    </div>
                                </div> <!---->
                            </div>
                        </div>
                        <!--<div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Số lượng sản phẩm<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="number" placeholder="Nhập số lượng sản phẩm" min="0" id="edit_quantity" class="form-control" name="quantity" required>
                                    <div class="invalid-feedback">
                                        Vui lòng nhập số lượng sản phẩm !
                                    </div>
                                </div>--> <!---->
                            <!--</div>
                        </div>-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Nhóm hàng<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <select class="custom-select" id="edit_GroupProduct" name="GroupProductDropdown" required>
                                    </select>
                                    <div class="invalid-feedback">Vui lòng chọn nhóm hàng</div>
                                </div> <!---->

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Danh mục sản phẩm<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <select class="custom-select" id="edit_Category" name="CategoryDropdown" required>
                                    </select>
                                    <div class="invalid-feedback">Vui lòng chọn danh mục</div>
                                </div> <!---->

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    Đơn giá bán<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập giá tiền" id="edit_sell_price" max="999999999999" class="form-control "
                                           pattern="[0-9.,]+" data-type="number" name="sell_price" required>
                                    <div class="invalid-feedback">
                                        Giá tiền bán không được để trống !
                                    </div>
                                </div> <!---->

                            </div>
                        </div>
                        <!--<div class="col-md-6">
                            <div class="form-group">
                                <label for="product-price-import">
                                    Đơn giá nhập<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập giá tiền" id="edit_purchase_price" max="999999999999" class="form-control"
                                           pattern="[0-9.,]+" data-type="number" name="purchase_price" required>
                                    <div class="invalid-feedback">
                                        Giá tiền nhập không được để trống !
                                    </div>
                                </div>-->
                                <!---->
                            <!--</div>
                        </div>-->
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">thay đổi</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="Stock_import" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Stock_importLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form class="needs-validation ProductForm" method="post" action="@Url.Action("Import_Stock", "products")" novalidate>
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="EditProductLabel">Thêm số lượng sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body ">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Mã sản phẩm<span class="text-danger">*</span>
                                </label>
                                <input hidden id="stock_pid" name="Product_id" />
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập tên sản phẩm" id="stock_pCode" class="form-control" name="code_product" pattern="\S+.*" disabled>

                                </div> <!---->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Tên sản phẩm<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập tên sản phẩm" id="stock_pName" class="form-control" name="name_product" pattern="\S+.*" disabled>

                                </div> <!---->
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Số lượng thêm<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="number" placeholder="Nhập số lượng sản phẩm" min="0" id="stock_pQuantity" class="form-control" name="quantity" required>
                                    <div class="invalid-feedback">
                                        Vui lòng nhập số lượng sản phẩm !
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="product-price-import">
                                    Đơn giá nhập<span class="text-danger">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="text" placeholder="Nhập giá tiền" id="stock_pPurchasePrice" max="999999999999" class="form-control"
                                           pattern="[0-9.,]+" data-type="number" name="purchase_price" required>
                                    <div class="invalid-feedback">
                                        Giá tiền nhập không được để trống !
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Nhập hàng</button>
                </div>
            </div>
        </form>
    </div>
</div>
@{ Html.RenderAction("ProductList_import", "Excel");}

<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            pagingType: 'full_numbers',
        });
    });
    document.getElementById('swap').onclick = function (e) {
        if (this.checked) {
            $(".swap").show();
            $("#check_swap").val(1)
            var unit_buy=  $("#unit_buy").val()
            document.getElementsByClassName('unit_current')[0].innerHTML = unit_buy;

        }
        else {
            $(".swap").hide();
        }
    };
</script>
