@model IEnumerable<CAP_TEAM05_2022.Models.product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";

}
<input type="text" hidden id="URLProductList" value="@Url.Action("ProductList", "products")" />
<input type="text" hidden id="URLFindProduct" value="@Url.Action("FindProduct", "products")/" />
<input type="text" hidden id="URLUpdateProduct" value="@Url.Action("UpdateProduct", "products")" />
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Quản lý sản phảm</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://tancool.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Quản lý sản phảm</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                     <input type="text" hidden id="URLExportExcel" value="@Url.Action("ExportExcel", "products")" />
        <button type="button" class="btn btn-secondary" id="btnExportExcel">Xuất tệp Excel</button>
@*                                    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("ExportExcel","products")';">Xuất tệp Excel</button>
*@
                                    <button type="button" class="btn btn-dark">Nhập tệp Excel</button>
                                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("ExportTemplateExcel","products")';" >Mẫu tệp Excel</button>
                                </div>

                                <div class="col-md-3">
                                    <input type="text"  hidden id="URLgetCategory" value="@Url.Action("getCategory", "categories")" />
                                    <select class="custom-select" id="filter_GroupProduct" name="filter_GroupProduct" required>
                                        <option value="" disabled="disabled" selected="selected">Xem tất cả nhóm hàng</option>

                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" hidden id="URLgetGroupProduct" value="@Url.Action("getGroupProduct", "groups")" />
                                    <select class="custom-select" id="filter_Category" name="filter_Category" required>
                                        <option value="" disabled="disabled" selected="selected">Xem tất cả danh mục</option>

                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary float-right ml-2" data-toggle="modal" data-target="#AddProduct">Tạo mới</button>

                                </div>
                            </div>
                        </div>
                        <div class="card-body table-border-style">
                            <div class="table-responsive" id="dataContainer">
                                @{ Html.RenderAction("ProductList", "products", new { group_id = -1, category_id = -1 });}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ImportModal" tabindex="-1" role="dialog" aria-labelledby="ImportModalTitle" aria-hidden="true" class="modal fade">
                <div role="document" class="modal-dialog">
                    <form>
                        <div class="modal-content">
                            <div class="modal-header styling-modal-header-update">
                                <h5 id="ImportModalTitle" class="modal-title">Nhập tệp Excel</h5>
                                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label>
                                    Tệp Excel <span class="text-danger">(*)</span>
                                </label>
                                <input type="file" id="fileImport" name="fileImport" class="form-control">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-3d">Tải lại</button>
                                <button type="submit" class="btn btn-primary btn-3d">Import</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="AddProduct" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AddProductLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <form class="needs-validation" method="post" action="@Url.Action("Create_Product", "products")" novalidate>
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h5 class="modal-title" id="AddProductLabel">Thêm mới sản phẩm</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>

                            <div class="modal-body ">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Tên sản phẩm<span class="text-danger">*</span>
                                            </label>
                                            <div class="position-relative">
                                                <input type="text" placeholder="Nhập tên sản phẩm" id="first-name-icon" class="form-control" name="name_product" pattern="\S+.*" required>
                                                <div class="invalid-feedback">
                                                    Vui lòng nhập tên sản phẩm !
                                                </div>
                                            </div> <!---->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>
                                                Đơn vị tính<span class="text-danger">*</span>
                                            </label>
                                            <div class="position-relative">
                                                <input type="text" placeholder="Nhập đơn vị tính " id="first-name-icon" class="form-control" name="unit" pattern="\S+.*" required>
                                                <div class="invalid-feedback">
                                                    Vui lòng nhập tên đơn vị tính !
                                                </div>
                                            </div> <!---->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>
                                                Số lượng sản phẩm<span class="text-danger">*</span>
                                            </label>
                                            <div class="position-relative">
                                                <input type="number" placeholder="Nhập số lượng sản phẩm" id="first-name-icon" class="form-control" name="quantity" required>
                                                <div class="invalid-feedback">
                                                    Vui lòng nhập số lượng sản phẩm !
                                                </div>
                                            </div> <!---->
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Nhóm hàng<span class="text-danger">*</span>
                                            </label>
                                            <div class="position-relative">
                                                <select class="custom-select" id="GroupProductDropdown" name="GroupProductDropdown" required>
                                                </select>
                                                <div class="invalid-feedback">Vui lòng chọn nhóm hàng</div>
                                            </div> <!---->

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Danh mục sản phẩm<span class="text-danger">*</span>
                                            </label>
                                            <div class="position-relative">
                                                <select class="custom-select" id="CategoryDropdown" name="CategoryDropdown" required>
                                                </select>
                                                <div class="invalid-feedback">Vui lòng chọn danh mục</div>
                                            </div> <!---->

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Đơn giá bán<span class="text-danger">*</span>
                                            </label>
                                            <div class="position-relative">
                                                <input type="text" placeholder="Nhập giá tiền" id="product-price-sold" max="999999999999" class="form-control "
                                                       pattern="[0-9.,]+" data-type="number" name="sell_price" required>
                                                <div class="invalid-feedback">
                                                    Giá tiền bán không được để trống !
                                                </div>
                                            </div> <!---->

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="product-price-import">
                                                Đơn giá nhập<span class="text-danger">*</span>
                                            </label>
                                            <div class="position-relative">
                                                <input type="text" placeholder="Nhập giá tiền" id="product-price-buy" max="999999999999" class="form-control"
                                                       pattern="[0-9.,]+" data-type="number" name="purchase_price" required>
                                                <div class="invalid-feedback">
                                                    Giá tiền nhập không được để trống !
                                                </div>
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn  btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-primary">Thêm mới</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="EditProduct" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="EditProductLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <form class="needs-validation" method="post" id="EditProduct" novalidate>
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h5 class="modal-title" id="EditProductLabel">Chỉnh sửa th sản phẩm</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>

                            <div class="modal-body ">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Tên sản phẩm<span class="text-danger">*</span>
                                            </label>
                                            <input hidden id="edit_id" name="Product_id" />
                                            <div class="position-relative">
                                                <input type="text" placeholder="Nhập tên sản phẩm" id="edit_name" class="form-control" name="name_product" pattern="\S+.*" required>
                                                <div class="invalid-feedback">
                                                    Vui lòng nhập tên sản phẩm !
                                                </div>
                                            </div> <!---->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>
                                                Đơn vị tính<span class="text-danger">*</span>
                                            </label>
                                            <div class="position-relative">
                                                <input type="text" placeholder="Nhập đơn vị tính " id="edit_unit" class="form-control" name="unit" pattern="\S+.*" required>
                                                <div class="invalid-feedback">
                                                    Vui lòng nhập tên đơn vị tính !
                                                </div>
                                            </div> <!---->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>
                                                Số lượng sản phẩm<span class="text-danger">*</span>
                                            </label>
                                            <div class="position-relative">
                                                <input type="number" placeholder="Nhập số lượng sản phẩm" id="edit_quantity" class="form-control" name="quantity" required>
                                                <div class="invalid-feedback">
                                                    Vui lòng nhập số lượng sản phẩm !
                                                </div>
                                            </div> <!---->
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Nhóm hàng<span class="text-danger">*</span>
                                            </label>
                                            <div class="position-relative">
                                                <select class="custom-select" id="edit_GroupProduct" name="GroupProductDropdown" required>
                                                </select>
                                                <div class="invalid-feedback">Vui lòng chọn nhóm hàng</div>
                                            </div> <!---->

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Danh mục sản phẩm<span class="text-danger">*</span>
                                            </label>
                                            <div class="position-relative">
                                                <select class="custom-select" id="edit_Category" name="CategoryDropdown" required>
                                                </select>
                                                <div class="invalid-feedback">Vui lòng chọn danh mục</div>
                                            </div> <!---->

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Đơn giá bán<span class="text-danger">*</span>
                                            </label>
                                            <div class="position-relative">
                                                <input type="text" placeholder="Nhập giá tiền" id="edit_sell_price" max="999999999999" class="form-control "
                                                       pattern="[0-9.,]+" data-type="number" name="sell_price" required>
                                                <div class="invalid-feedback">
                                                    Giá tiền bán không được để trống !
                                                </div>
                                            </div> <!---->

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="product-price-import">
                                                Đơn giá nhập<span class="text-danger">*</span>
                                            </label>
                                            <div class="position-relative">
                                                <input type="text" placeholder="Nhập giá tiền" id="edit_purchase_price" max="999999999999" class="form-control"
                                                       pattern="[0-9.,]+" data-type="number" name="purchase_price" required>
                                                <div class="invalid-feedback">
                                                    Giá tiền nhập không được để trống !
                                                </div>
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn  btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary" onclick="Update()">thay đổi</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">   
    $(document).ready(function () {
        $('#example').DataTable({
            pagingType: 'full_numbers',
        });
      
    });
</script>
