@model IEnumerable<CAP_TEAM05_2022.Models.product>
@using Constants = CAP_TEAM05_2022.Helper.Constants

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";

}
@section style {
    <link href="~/Content/css/custom-css.css" rel="stylesheet" />
}
<input type="text" hidden id="URLProductList" value="@Url.Action("_ProductList", "products")" />
<input type="text" hidden id="URLFindProduct" value="@Url.Action("FindProduct", "products")/" />
<input type="text" hidden id="URLgetSupplier" value="@Url.Action("getSupplier", "customers")" />


<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Quản lý sản phảm</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://tancool.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Quản lý sản phảm</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" hidden id="URLExportExcel" value="@Url.Action("ExportExcel", "Excel")" />
                                    <button type="button" class="btn btn-secondary" id="btnExportExcel">Xuất tệp Excel</button>
                                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#ImportModal">Nhập tệp Excel</button>
                                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("ExportTemplateExcel","Excel")';">Mẫu tệp Excel</button>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.DropDownList("filter_Category", (SelectList)ViewBag.CategoryId, "---- Xem tất cả danh mục sản phẩm ----", new { @class = "form-control custom-select", @id = "filter_Category" })

                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownList("filter_Supplier", (SelectList)ViewBag.SupplierId, "---- Xem tất cả công ty cung cấp ----", new { @class = "form-control custom-select", @id = "filter_Supplier" })

                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary float-right ml-2" @* data-toggle="modal" data-target="#AddProduct"*@ onclick="createProduct(null, @Constants.CREATE_PRODUCT)">Tạo mới</button>

                                </div>
                            </div>
                        </div>
                        <div class="card-body table-border-style">
                            <div class="col-lg-12 col-md-6 col-sm-12">
                                @if (Session["ViewBag.FileStatus"] != null)
                                {
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        @Session["ViewBag.FileStatus"].ToString()
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>

                                        </button>
                                    </div>
                                    Session["ViewBag.FileStatus"] = null;
                                }
                                @if (Session["Import_exist"] != null)
                                {

                                    <div class="alert alert-success alert-dismissible fade show" role="alert" data-toggle="modal" data-target="#Success">
                                        Đã nhập thành công file excel, nhấn vào để xem chi tiết !
                                    </div>
                                    Session["Import_exist"] = null;
                                }

                                @if (Session["ViewBag.Success"] != null)
                                {
                                    int success = int.Parse(Session["ViewBag.Success"].ToString());
                                    int failFormat = int.Parse(Session["ViewBag.FailFormat"].ToString());
                                    int exist = int.Parse(Session["ViewBag.Exist"].ToString());
                                    int miss = int.Parse(Session["ViewBag.MissData"].ToString());
                                    int count = success + failFormat + exist + miss;
                                    <button type="button" hidden class="btn btn-lg btn-block btn-outline-success mb-2" id="import-success"
                                            data-toggle="modal" data-target="#Success">
                                        Success
                                    </button>
                                    <script>
                                        window.onload = function () {
                                            document.getElementById('import-success').click();
                                        }
                                    </script>
                                    <!-- Modal -->
                                    <div class="modal fade text-left" id="Success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel34" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header  bg-primary ">
                                                    <h4 class="modal-title" id="myModalLabel34">Kết quả</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <div class="col-12">
                                                        <a> Nhập thành công <b>"@success"</b> trong số <b>"@count"</b> sản phẩm trong dữ liệu của tệp Excel</a>
                                                    </div>
                                                    <br />
                                                    <div class="col-12">

                                                        <button onclick="OpenModalResult('SuccessData')" class="alert alert-success">
                                                            <strong>Thành công!</strong> Nhập sản phẩm thành công từ excel ! <b>(@success dữ liệu)</b>
                                                        </button>
                                                        <button onclick="OpenModalResult('FailFormat')" class="alert alert-danger">
                                                            <strong>Thất bại!</strong> Nhập sản phẩm thất bại do tên danh mục hoặc nhóm hàng không có trong hệ thống! <b>(@failFormat dữ liệu) </b>
                                                        </button>
                                                        <button onclick="OpenModalResult('MissData')" class="alert alert-warning">
                                                            <strong>Mất dữ liệu!</strong>  Nhập sản phẩm thất bại do thiếu thông tin sản phẩm ! <b>(@miss dữ liệu)</b>
                                                        </button>

                                                        <button onclick="OpenModalResult('ExitData')" class="alert alert-info">
                                                            <strong>Tồn tại!</strong>  Sản phẩm đã tồn tại và hệ thống đã cập nhật lại thông tin ! <b>(@exist dữ liệu)</b>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="Xác nhận" required>

                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    //Session["ViewBag.Success"] = null;
                                }
                            </div>

                            <div class="table-responsive" id="dataContainer">
                                @{ Html.RenderAction("_ProductList", "products");}

                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade text-left" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1"><b>Thông báo</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="text-center">
                <img src="~/Template/assets/images/in-progress-animate.svg" style=" display: block; margin-left: auto; margin-right: auto; width: 50%;" />
                <p> Vui lòng chờ trong khi hệ thống đang xử lý dữ liệu...</p>
            </div>

        </div>
    </div>
</div>
<div id="ImportModal" tabindex="-1" role="dialog" aria-labelledby="ImportModalTitle" aria-hidden="true" class="modal fade">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary styling-modal-header-update">
                <h5 id="ImportModalTitle" class="modal-title">Nhập tệp Excel</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Html.BeginForm("ImportExcel", "Excel", FormMethod.Post, new { enctype = "multipart/form-data", @class= "ImportExcel" }))
            {
                <div class="modal-body">
                    <label>
                        Tệp Excel <span class="text-danger">(*)</span>
                    </label>
                    <input type="file" id="fileImport" accept=".xlsx, .xls" name="postedFile" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary btn-3d">Tải lại</button>
                    <button type="submit" class="btn btn-primary btn-3d" id="submit_import">Import</button>
                </div>
            }
        </div>
    </div>
</div>


<div class="table-responsive" id="dataContainer2">
</div>
@{ Html.RenderAction("ProductList_import", "Excel");}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable({
                pagingType: 'full_numbers',
            });
        });

        function OpenModalResult(result) {
            if (result == "SuccessData") {
                $('#SuccessData.close').css('display', 'none');
                $('#SuccessData').modal('show');
            } else if (result == "FailFormat") {
                $('#FailFormat.close').css('display', 'none');
                $('#FailFormat').modal('show');
            } else if (result == "MissData") {
                $('#MissData.close').css('display', 'none');
                $('#MissData').modal('show');
            } else if (result == "ExitData") {
                $('#ExitData.close').css('display', 'none');
                $('#ExitData').modal('show');
            }
            $('#Success.close').css('display', 'none');
            $('#Success').modal('hide');
        }
        $('#submit_import').click(function () {
            $('#ImportModal.close').css('display', 'none');
            $('#ImportModal').modal('hide');

            $('#exampleModalCenter.close').css('display', 'none');
            $('#exampleModalCenter').modal('show');
        });
        $('.confirmButton').click(function () {
            $('#Success.close').css('display', 'none');
            $('#Success').modal('show');
        });

        function createProduct(id, method) {
            if ($('#isCreate').val() != undefined && $('#isCreate').val() == @Constants.CREATE_FORM && method == @Constants.CREATE_PRODUCT) {
                $('#ProductForm').modal('show');
            } else {
              $.ajax({
                url: '@Url.Action("_Form", "products")',
                type: 'GET',
                data: {id : id},
                success: function (response) {
                    // Add response in Modal body
                    $('#dataContainer2').html(response);
                    // Display Modal
                    $('#ProductForm').modal('show');
                }
            });

            }
        }

        function EditProduct(id) {
              $.ajax({
                url: '@Url.Action("_FormEdit", "products")',
                type: 'GET',
                data: {id:id},
                success: function (response) {
                    // Add response in Modal body
                    $('#dataContainer2').html(response);
                    // Display Modal
                    $('#ProductForm').modal('show');
                }
            });
            }

        function PriceHistory(id) {
            $.ajax({
                url: '@Url.Action("_PriceHistory", "products")',
                data: {
                    id: id,
                }
            }).done(function (result) {
                $('#dataContainer2').html(result);
                $('#priceHistory.close').css('display', 'none');
                $('#priceHistory').modal('show');

            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus)
                console.log(errorThrown)
                alert("Something Went Wrong, Try Later");
            });
    }

    </script>
}