@model IEnumerable<CAP_TEAM05_2022.Models.return_sale>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";
    int no = 0;
}

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title"><h5 class="m-b-10">Lịch sử đổi trả đơn hàng</h5></div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="https://dnqt.net"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Lịch sử đổi trả đơn hàng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Lịch sử đổi trả đơn hàng</h4>
                            <div class="row"></div>
                        </div>
                        <div class="card-body">

                            <div class="card-body table-border-style">
                                <div class="table-responsive">
                                    <table id="example" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Mã hoàn trả</th>
                                                <th>Mã đơn hàng</th>
                                                <th>Tên khách hàng</th>
                                                <th>Hình thức</th>
                                                <th>Tên sản phẩm</th>
                                                <th class="text-center">Số lượng</th>
                                                <th class="text-center">Ngày</th>
                                                <th>Chênh lệch</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                no++;
                                                if (item.method == 2)
                                                {
                                                    var detail = item.return_details.FirstOrDefault();
                                                    <tr>
                                                        <td>@no</td>
                                                        <td>@item.code</td>
                                                        <td>@item.sale_details.sale.code</td>
                                                        <td>@item.sale_details.sale.customer.name</td>
                                                        <td>Trả hàng</td>
                                                        <td>
                                                            <div>
                                                                @detail.product.name
                                                            </div>
                                                        </td>
                                                        <td class="text-center">

                                                            <div>
                                                                @detail.quantity_current<span class="txt-unit"> @detail.unit_current</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:HH:mm - dd/MM/yyy}", item.create_at)
                                                        </td>
                                                        <td>
                                                            <p>Hoàn lại</p>
                                                            <span class="text-danger">
                                                                @String.Format("{0:0,00}", item.difference)VNĐ
                                                            </span>
                                                        </td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    var detail = item.return_details.FirstOrDefault();

                                                    <tr>
                                                        <td>@no</td>
                                                        <td>@item.code</td>
                                                        <td>@item.sale_details.sale.code</td>
                                                        <td>@item.sale_details.sale.customer.name</td>

                                                        <td>Đổi sản phẩm</td>
                                                        <td>
                                                            <div>
                                                                <p class="text-danger">Sản phẩm cũ:</p>
                                                                @detail.product.name
                                                                <hr>
                                                                <p class="text-success">Sản phẩm mới:</p>
                                                                <p>@detail.product1.name</p>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div>
                                                                <p class="text-danger">Sản phẩm cũ:</p>
                                                                <p>@detail.quantity_current<span class="txt-unit"> @detail.unit_current</span></p>
                                                                <hr>
                                                                <p class="text-success">Sản phẩm mới:</p>
                                                                <p>@detail.quantity_return<span class="txt-unit"> @detail.unit_return</span></p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:HH:mm - dd/MM/yyy}", item.create_at)
                                                        </td>
                                                        <td>
                                                            @if (item.difference > 0)
                                                            {
                                                                <p>Hoàn lại:</p>
                                                                <span class="text-danger">
                                                                    @String.Format("{0:0,00}", item.difference)VNĐ
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <p>Thu thêm:</p>
                                                                <span class="text-success">
                                                                    @String.Format("{0:0,00}", (-1 * item.difference))VNĐ
                                                                </span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    <script type="text/javascript">
        var row;
        $(document).ready(function () {
            $('#example').DataTable({
                pagingType: 'full_numbers',
            });
        });
    </script>
    }
