@model IEnumerable<CAP_TEAM05_2022.Models.inventory_order>
@{
    int no = 0;
}
<table id="example" class="table table-hover">
    <thead>
        <tr>
            <th>STT</th>
            <th>Mã đơn nhập</th>
            <th>Tên nhà cung cấp</th>
            <th class="text-center">Tổng giá trị</th>
            <th class="text-center">Phương thức</th>
            <th class="text-center">Ngày giao dịch</th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            no++;
            <tr>
                <td>@no</td>
                <td>@item.code</td>
                <td>@(item.customer?.name)</td>
                <td class="text-center">
                    @(((decimal)item.Total).ToString("N0")) VNĐ
                </td>

                @if (item.state == 1)
                {
                    <td class="text-center">
                        Đã thanh toán
                    </td>
                }
                else
                {
                    <td class="text-center">
                        Ghi nợ
                    </td>
                }



                <td class="text-center">
                    @String.Format("{0:HH:mm - dd/MM/yyy}", item.create_at)
                </td>
                <td>
                    <button title="Xem chi tiết" class="btn btn-info" onclick="GetList_InventoryDetails('@item.id', 1)">
                        <span class="pcoded-micon">
                            <i class="fas fa-info">
                            </i>
                        </span>
                    </button>
                    <button title="Đổi trả" class="btn btn-success" onclick="GetList_InventoryDetails('@item.id', 2)">
                        <span class="pcoded-micon">
                            <i class="fas fa-retweet">
                            </i>
                        </span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>