@model CAP_TEAM05_2022.Models.inventory_order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";
}

<h2>Details</h2>

<div>
    <h4>inventory_order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.update_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.update_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.debt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.debt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
