@model IEnumerable<CAP_TEAM05_2022.Models.inventory_order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";
}
@section style {
    <link href="~/Content/css/custom-css.css" rel="stylesheet" />
}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Quản lý nhập hàng</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://dnqt.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Quản lý nhập hàng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" class="tab-pane fade active show">
                    <div class="card">
                        <div class="card-body table-border-style">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <div class="mx-datepicker">
                                        <div class="mx-input-wrapper">
                                            <input id="inventory_DateStart" class="form-control custom-width flatpickr" value="@String.Format("{0:yyyy-MM-dd}", DateTime.Now.AddDays((-DateTime.Now.Day) + 1))">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mx-datepicker">
                                        <div class="mx-input-wrapper">
                                            <input id="inventory_DateEnd" class="form-control custom-width flatpickr" value="@String.Format("{0:yyyy-MM-dd}",DateTime.Now.AddMonths(1).AddDays(-(DateTime.Now.Day)))">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="float-right">

                                        <a class="btn  btn-primary btn-block" href="@Url.Action("Create", "inventory_order")">Tạo đơn nhập</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" id="dataContainer3">
                                @{ Html.RenderAction("_InventoryList", "inventory_order");}


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>


        </div>
    </div>
</section>
<div id="dataContainer2">
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                pagingType: 'full_numbers',
            });
        });
        $("#inventory_DateStart").change(function () {
            var date_start = $("#inventory_DateStart").val();
            var date_end = $("#inventory_DateEnd").val();
            if (date_start <= date_end) {
                GetList_Inventory(date_start, date_end);
            } else {
                Swal.fire('Lỗi', 'Thời gian bắt đầu phải nhỏ hơn thời gian kết thúc !', 'error')
            }

        });
        $("#inventory_DateEnd").change(function () {
            var date_start = $("#inventory_DateStart").val();
            var date_end = $("#inventory_DateEnd").val();
            if (date_start <= date_end) {
                GetList_Inventory(date_start, date_end);
            } else {
                Swal.fire('Lỗi', 'Thời gian bắt đầu phải nhỏ hơn thời gian kết thúc !', 'error')
            }
        });

        function GetList_Inventory(date_start, date_end) {

            $.ajax({
                url: '@Url.Action("_InventoryList", "inventory_order")',
                data: {
                    date_Start: date_start,
                    date_End: date_end,
                }
            }).done(function (result) {
                $('#dataContainer3').html(result);
                $('#example').DataTable()
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus)
                console.log(errorThrown)
                alert("Something Went Wrong, Try Later");
            });
        }
        function GetList_InventoryDetails(id, method) {
            $.ajax({
                url: '@Url.Action("_InventoryDetails", "inventory_order")',
                data: {
                    inventor_id: id,

                }
            }).done(function (result) {
                $('#dataContainer2').html(result);
                if (method ==1 ) {
                    $('#detailModal.close').css('display', 'none');
                    $('#detailModal').modal('show');
                }
                else if (method == 2) {
                    $('#productSelectModal.close').css('display', 'none');
                    $('#productSelectModal').modal('show');
                }


            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus)
                console.log(errorThrown)
                alert("Something Went Wrong, Try Later");
            });
        }
    </script>
}