@model IEnumerable<CAP_TEAM05_2022.Models.AspNetUser>
@{
    int no = 0;
}
<input hidden type="text" id="URLDelete" value="@Url.Action("Delete_User", "AspNetUsers")">
<table id="example" class="table table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th >Tên nhân viên</th>
            <th >Email</th>
            <th >Điện thoại</th>
            <th class="text-center">Vai trò</th>
            <th class="text-center">Trạng thái</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            no++;
            string customswitch_User = "customswitch" + item.Id;
            <tr>
                <td>@no <input hidden type="text" name="record" value="@item.Id" /> </td>
                <td>@item.users.FirstOrDefault().name</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td class="text-center">
                    @item.AspNetRoles.FirstOrDefault().Name
                </td>

                <td class="text-center">
                    @if (item.Email != User.Identity.Name)
                    {
                        if (item.LockoutEnabled == true)
                        {
                            <div class="custom-control custom-switch">
                                <input type="checkbox" checked class="custom-control-input" id="@customswitch_User">
                                <label class="custom-control-label" for="@customswitch_User"></label>
                            </div>
                        }
                        else
                        {
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="@customswitch_User">
                                <label class="custom-control-label" for="@customswitch_User"></label>
                            </div>
                        }
                        <script language="javascript">
                                                        document.getElementById('@customswitch_User').onclick = function (e) {
                                                                EditStatus('@item.Id');
                                                        };
                        </script>
                    }
                    </td>
                <td>
                    @if (item.Email != User.Identity.Name)
                    {
                        <button class="btn btn-success" onclick="editUser('@item.Id')">
                            <i class="feather icon-edit">
                            </i>
                        </button>
                        <button class="btn btn-danger" onclick="deleteAlert('@item.Id', '@item.Id')" id="Delete">
                            <i class="feather icon-trash-2">
                            </i>
                        </button>
                    }

                </td>
            </tr>
        }


    </tbody>
</table>