@model CAP_TEAM05_2022.Models.user

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";
    string avt = "";
    if (Model.avatar == null)
    {
        avt = "~/Template/assets/images/default-avatar.png";
    }
    else
    {
        avt = "~/Template/assets/images/" + Model.avatar;
    }
}
@section style {
    <link href="~/Content/css/custom-css.css" rel="stylesheet" />
}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Thông tin cá nhân</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://dnqt.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Thông tin cá nhân</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5>Thông tin cá nhân</h5>
                        <hr>
                        @using (Html.BeginForm("EditUser", "AspNetUsers", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.id)
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="image-upload center">
                                            <div class="text-center">
                                                <label for="file-input">
                                                    <img id="output" src="@Url.Content(avt)" alt="profile" class="avatar-img">
                                                </label>
                                            </div>
                                            <input type="file" id="file-input" name="file" class="form-control" accept="image/x-png,image/gif,image/jpeg" onchange="loadFile_edit(event)">
                                            <script>
                                                var loadFile_edit = function (event) {
                                                    var image = document.getElementById('output');
                                                    image.src = URL.createObjectURL(event.target.files[0]);
                                                };
                                            </script>
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Họ và tên</label>
                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập họ và tên" } })
                                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })                                        <!---->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Địa chỉ Email</label>
                                        <input type="email" id="email" name="email" disabled value="@Model.email" aria-describedby="email" class="form-control">
                                        <!---->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phone">Số điện thoại</label>
                                        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập số điện thoại" } })
                                        @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })                                        <!---->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="role">Chức vụ</label>
                                        <input type="text" id="role" name="role" value="@Model.AspNetUser.AspNetRoles.FirstOrDefault().Name" disabled="disabled" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="address">Địa chỉ nơi ở</label>
                                        @Html.TextAreaFor(model => model.address, new { @class = "form-control", @placeholder = "Nhập địa chỉ" })
                                        @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                                        <!---->
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary float-right">Lưu</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

