@using Constants = CAP_TEAM05_2022.Helper.Constants;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";
}
@section style {
    <link href="~/Content/css/custom-css.css" rel="stylesheet" />
}
<input type="text" hidden id="URLFindUser" value="@Url.Action("FindUser", "AspNetUsers")/" />
<input hidden type="text" id="URDEditStatus" value="@Url.Action("EditStatus_User", "AspNetUsers")">
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Quản lý nhân viên</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://tancool.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Quản lý nhân viên</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <button type="button" class="btn btn-primary float-right ml-2" onclick="createUser()">Tạo mới</button>
                            <div class="row">
                                <div class="col-md-9">
                                    <h4>NHÂN VIÊN</h4>
                                </div>

                            </div>
                        </div>
                        <div class="card-body table-border-style">
                            <div class="table-responsive" id="dataContainer">

                                @{ Html.RenderAction("_UserList", "AspNetUsers");}

                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="table-responsive" id="dataContainer2">
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable({
                pagingType: 'full_numbers',
            });
        });
        function GetList_UserList() {
            $.ajax({
                url: '@Url.Action("_UserList", "AspNetUsers")',
                data: {
                }
            }).done(function (result) {
                $('#dataContainer').html(result);
                $('#example').DataTable();
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus)
                console.log(errorThrown)
                Swal.fire('Lỗi !', 'Đã xảy ra lỗi, hãy thử lại sau !', 'error');
            });
        }

        function editUser(id) {
            $.ajax({
                url: '@Url.Action("_Form", "AspNetUsers")',
                type: 'GET',
                data: { id },
                success: function (response) {
                    // Add response in Modal body
                    $('#dataContainer2').html(response);
                    // Display Modal
                    $('#UserForm').modal('show');
                }
            });
        }

        function createUser() {
            if ($('#isCreate').val() != undefined && $('#isCreate').val() == @Constants.CREATE_FORM) {
                $('#UserForm').modal('show');

            } else {
            $.ajax({
                url: '@Url.Action("_Form", "AspNetUsers")',
                type: 'GET',
                data: {},
                success: function (response) {
                    // Add response in Modal body
                    $('#dataContainer2').html(response);
                    // Display Modal
                    $('#UserForm').modal('show');
                }
            });

            }

        }
    </script>
}