@model IEnumerable<CAP_TEAM05_2022.Models.sale_details>
@using CAP_TEAM05_2022.Models

@{
    int no = 0;
    int no_return = 0;
    
    var Order = (sale)ViewBag.Order;

}
<div id="detailModal" tabindex="-1" aria-labelledby="detailModalTitle" class="modal fade bd-example-modal-lg" style="display: none;" aria-hidden="true">
    <div role="document" class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 id="detailModalTitle" class="modal-title white">Chi tiết @Order.code</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="txt-15">Nhân viên bán: @Order.user.name</p>
                                    <p class="txt-15">Số ĐT: @Order.user.phone</p>
                                    <p class="txt-15">Ngày tạo đơn:  @String.Format("{0:HH:mm - dd/MM/yyy}", Order.created_at)</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="txt-15">Mã khách hàng: @Order.customer.code</p>
                                    <p class="txt-15">Người mua: @Order.customer.name</p>
                                    <p class="txt-15">Số ĐT: @Order.customer.phone</p>
                                </div>
                            </div>

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">STT</th>
                                        <th class="text-center">Mã sản phẩm</th>
                                        <th class="text-center">Tên sản phẩm</th>
                                        <th class="text-center">Đơn giá</th>
                                        <th class="text-center">Số lượng</th>
                                        <th class="text-center">Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        no++;
                                        <tr>
                                            <td class="text-center">
                                                @no
                                            </td>
                                            <td class="text-center">
                                                @item.product.code
                                            </td>
                                            <td class="text-center">
                                                @item.product.name
                                            </td>

                                            <td class="text-center">
                                                @String.Format("{0:0,00}", item.price / item.sold)₫/<span class="txt-unit">@item.unit</span>
                                            </td>
                                            <td class="text-center">
                                                @item.sold<span class="txt-unit"> @item.unit</span>
                                            </td>
                                            <td class="text-center">
                                                @String.Format("{0:0,00}", item.price)₫
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4" class="text-right">
                                        </td>

                                        <td colspan="2" class="text-left">
                                            <div class="total-div">
                                                <div>
                                                    Thành tiền:
                                                    <b>
                                                        <span class="text">
                                                            @String.Format("{0:0,00}", Order.total)₫
                                                        </span>
                                                    </b>
                                                </div>
                                                @if (Order.prepayment >= 0)
                                                {
                                                    <div>
                                                        Đã thanh toán:
                                                        <span class="text-success">
                                                            @String.Format("{0:0,00}", Order.prepayment)₫
                                                        </span>
                                                    </div>
                                                    <div>
                                                        Còn nợ:
                                                        <span class="text-danger">
                                                            @String.Format("{0:0,00}", Order.total - Order.prepayment)₫
                                                        </span>
                                                    </div>
                                                }


                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="productSelectModal" tabindex="-1" role="dialog" aria-labelledby="productSelectModalTitle" aria-hidden="true" class="modal fade bd-example-modal-lg">
    <div role="document" class="modal-dialog modal-lg">
        <form>
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 id="productSelectModalTitle" class="modal-title white">Chon sản phẩm đổi trả</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">STT</th>
                                            <th>Mã sản phẩm</th>
                                            <th>Tên sản phẩm</th>
                                            <th class="text-center">Số lượng</th>
                                            <th class="text-center">Tổng tiền</th>
                                            <th>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            no_return++;
                                            <tr>
                                                <td class="text-center">
                                                    @no_return
                                                </td>
                                                <td class="text-center">
                                                    @item.product.code
                                                </td>
                                                <td class="text-center">
                                                    @item.product.name
                                                </td>

                                                <td class="text-center">
                                                    @item.sold<span class="txt-unit"> @item.unit</span>
                                                </td>
                                                <td class="text-center">
                                                    @String.Format("{0:0,00}", item.price)
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" onclick="Get_ReturnProduct('@item.id')">Chọn</button>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".returnProduct_List").select2({
        dropdownParent: $("#productExchangeModal"),
        placeholder: "Chọn sản phẩm",
        ajax: {
            url: "@Url.Action("GetProductList", "products")",
            dataType: "json",
            data: function (params) {
                return {
                    searchTerm: params.term
                };
            },
            processResults: function (data, params) {
                return {
                    results: data
                };
            }
        }
    });
    });
    $(".returnProduct_List").on("change", function () {
        var ProductID = $(this).val();
        $(".ProductID").val(ProductID);
        $.ajax({
            url: "@Url.Action("FindProduct_name", "products")",
            data: { "product_id": ProductID },
            dataType: 'json',
            type: 'post',
            success: function (data) {
                document.getElementsByClassName('qualityProduct')[0].innerHTML =  data.note;
                document.querySelector("#input_qualityProduct").disabled = false;
                $("#priceProduct").val(data.name);
                var input_qualityProduct = $('#input_qualityProduct').val();
                document.getElementsByClassName('price_return')[0].innerHTML = "Sản phẩm muốn đổi: " + data.name.toLocaleString() + " x " + input_qualityProduct + " = " + (input_qualityProduct * data.name).toLocaleString();

                var price_PCurrent = $('#price_PCurrent').val().replace(/\,/g, '').replace(/\./g, '');
                var quality_OD = $('#quality_OD').val();
                var priceProduct = $('#priceProduct').val().replace(/\,/g, '').replace(/\./g, '');
                var input_qualityProduct = $('#input_qualityProduct').val();
                var total = (price_PCurrent * quality_OD) - (priceProduct * input_qualityProduct);
                if (total > 0) {
                    document.getElementsByClassName('spCollect')[0].innerHTML = "Hoàn lại";
                    $('#collect').val(total.toLocaleString());
                }
                else {
                    document.getElementsByClassName('spCollect')[0].innerHTML = "Thu thêm";
                    $('#collect').val((total * (-1)).toLocaleString());
                }

                var s = ' <option value="' + data.unit + '" data-type="other" selected>' + data.unit + '</option>';
                if (data.unit_swap != null) {
                    s += ' <option value="' + data.unit_swap + '" data-type="other">' + data.unit_swap + '</option>';
                    $('#priceProduct_swap').val(data.name_group);
                }
                $("#unit_swap_return").html(s);

            }
        });
    });
    $("#unit_swap_return").change(function () {
        var priceProduct = $('#priceProduct').val();
        var priceProduct_swap = $('#priceProduct_swap').val();
        $('#priceProduct').val(priceProduct_swap);
        $('#priceProduct_swap').val(priceProduct);
    });
    $("#quality_OD").change(function () {
        var price_PCurrent = $('#price_PCurrent').val().replace(/\,/g, '').replace(/\./g, '');
        var quality_OD = $('#quality_OD').val();
        var priceProduct = $('#priceProduct').val().replace(/\,/g, '').replace(/\./g, '');
        var input_qualityProduct = $('#input_qualityProduct').val();

        $('#collect_return').val((price_PCurrent * quality_OD).toLocaleString());

        var total = (price_PCurrent * quality_OD) - (priceProduct * input_qualityProduct);

        if (total > 0) {
            document.getElementsByClassName('spCollect')[0].innerHTML = "Hoàn lại";
            $('#collect').val(total.toLocaleString());
        }
        else {
            document.getElementsByClassName('spCollect')[0].innerHTML = "Thu thêm";
            $('#collect').val((total * (-1)).toLocaleString());
        }
        document.getElementsByClassName('price_current')[0].innerHTML = "Sản phẩm hiện tại: " + price_PCurrent.toLocaleString() +" x " + quality_OD + " = " + (quality_OD * price_PCurrent).toLocaleString();
    });
    $("#input_qualityProduct").change(function () {
        var price_PCurrent = $('#price_PCurrent').val().replace(/\,/g, '').replace(/\./g, '');
        var quality_OD = $('#quality_OD').val();
        var priceProduct = $('#priceProduct').val().replace(/\,/g, '').replace(/\./g, '');
        var input_qualityProduct = $('#input_qualityProduct').val();
        var total = (price_PCurrent * quality_OD) - (priceProduct * input_qualityProduct);

        if (total > 0) {
            document.getElementsByClassName('spCollect')[0].innerHTML = "Hoàn lại";
            $('#collect').val(total.toLocaleString());
        }
        else {
            document.getElementsByClassName('spCollect')[0].innerHTML = "Thu thêm";
            $('#collect').val((total * (-1)).toLocaleString());
        }
        document.getElementsByClassName('price_return')[0].innerHTML = "Sản phẩm muốn đổi: " + priceProduct.toLocaleString() +" x " + input_qualityProduct + " = " + (input_qualityProduct * priceProduct).toLocaleString();
    });

</script>