@model IEnumerable<CAP_TEAM05_2022.Models.sale>
@using Constants = CAP_TEAM05_2022.Helper.Constants;

@{
    int no = 0;
}
<input type="text" hidden id="URLTestPrint" value="@Url.Action("_TemplateOrderDetails", "sales")" />
<table id="example" class="table table-hover">
    <thead>
        <tr>
            <th>STT</th>
            <th>Mã đơn hàng</th>
            <th>Mã khách hàng</th>
            <th>Tên khách hàng</th>
            <th>Số điện thoại</th>
            <th class="text-center">Tổng giá trị</th>
            <th class="text-center">Phương thức</th>
            <th class="text-center">Ghi chú</th>
            <th class="text-center">Ngày giao dịch</th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            no++;
            <tr>
                <td>@no</td>
                <td>@item.code</td>
                <td>@item.customer.code</td>
                <td>@item.customer.name</td>
                <td>@item.customer.phone</td>
                <td class="text-center">
                    @String.Format("{0:0,00}", item.total)
                </td>
                <td class="text-center">
                    <span class="text-@(item.total == (item.prepayment + item.pay_debt) ? "info" : item.method == Constants.PAYED_ORDER  ? "success" : "danger")">
                        @(item.method == Constants.PAYED_ORDER ? "Đã thanh toán" : "Ghi nợ") @((item.total == (item.prepayment + item.pay_debt) ? "(Đã thanh toán xong)" : ""))
                    </span>
                </td>
                <td class="text-center">
                    @item.note
                </td>
                <td class="text-center">
                    @String.Format("{0:HH:mm - dd/MM/yyy}", item.created_at)
                </td>
                <td>
                    <button title="Xem chi tiết" class="btn btn-info" onclick="GetList_orderDetails('@item.id', '@Constants.VIEW_DETAILS')">
                        <span class="pcoded-micon">
                            <i class="fas fa-info">
                            </i>
                        </span>
                    </button>
                    <button title="Đổi trả" class="btn btn-success" onclick="GetList_orderDetails('@item.id', '@Constants.MODAL_RETURN')">
                        <span class="pcoded-micon">
                            <i class="fa fa-random">
                            </i>
                        </span>
                    </button>
                    @if (item.method == Constants.PAYED_ORDER)
                    {
                        <button title="Chuyển đổi hình thức đơn hàng" class="btn btn-danger" onclick="convertOrder('@item.id')">
                            <span class="pcoded-micon">
                                <i class="fas fa-retweet">
                                </i>
                            </span>
                        </button>
                    }
                    
                    <button title="In hoá đơn" class="btn btn-secondary" onclick="PrintOrder('@item.id')">
                        <span class="pcoded-micon">
                            <i class="fas fa-print">
                            </i>
                        </span>
                    </button>
                </td>
            </tr>
        }


    </tbody>
</table>