@model IEnumerable<CAP_TEAM05_2022.Models.revenue>

@{
    Layout = null;
    int no = 0;
    var first_item = Model.FirstOrDefault();
    decimal sumSell = 0;
    decimal sumRevenue = 0;
}
<link href="~/Template/assets/css/style.css" rel="stylesheet" />
<style>
    table {
        border: 1px solid black;
    }

    th {
        border: 1px solid black;
    }

    td {
        border: 1px solid black;
    }
</style>
<div class="pcoded-content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body table-border-style">
                            <div class="card__header">
                                <div class="card__header-thumb">
                                    <img src="@Url.Content("~/Template/assets/images/logoTT.png")" alt="" class="logo">
                                </div>
                                <div class="card__header-info">
                                    <h3 class="card__info-name"> DOANH NGHIỆP BUÔN BÁN PHÂN BÓN THUỐC TRỪ SÂU TẤN THÀNH</h3>
                                    <p>Địa chỉ: Tổ 20, ấp Tân Trung B, xã Tân Hưng, huyện Tân Châu, tỉnh Tây Ninh</p>
                                    <p>Ngân Hàng: <span class="card__info-desc">BIDV - 75210000089921 - TRAN QUOC NAM </span></p>
                                    <p>Điện thoại: 0854858818</p>
                                </div>
                            </div>
                            <div class="card__nav">
                                <div class="card__nav-info">
                                    <h4 class="card__nav-name">BÁO CÁO CHI TIẾT LỢI NHUẬN</h4>
                                    <p class="card__nav-time">Từ ngày : @String.Format("{0:dd/MM/yyy}", ViewBag.DateStart) - Đến hết ngày: @String.Format("{0:dd/MM/yyy}", ViewBag.DateEnd)</p>
                                </div>
                            </div>

                            @if (Model.Any())
                            {
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="" style="border: 1px solid black;">
                                                    <thead>
                                                        <tr>
                                                            <th>STT</th>
                                                            <th>Tên sản phẩm</th>
                                                            <th class="text-center">Đơn vị</th>
                                                            <th class="text-center">Đơn giá nhập</th>
                                                            <th class="text-center">Số lượng bán</th>
                                                            <th class="text-center">Đơn giá bán</th>
                                                            <th class="text-center">Tổng giá bán</th>
                                                            <th class="text-center">Lợi nhuận</th>
                                                            <th class="text-center">Ngày giao dịch</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model)
                                                        {
                                                            no++;
                                                            <tr>
                                                                <td>@no</td>
                                                                <td>@item.sale_details.product.name</td>
                                                                <td class="text-center">

                                                                    @if (item.sale_details.product.unit_swap != null)
                                                                    {
                                                                        <div>
                                                                            1 @item.sale_details.product.unit = @item.sale_details.product.quantity_swap@item.sale_details.product.unit_swap
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        @item.sale_details.product.unit
                                                                    }
                                                                </td>
                                                                <td class="text-center">
                                                                    @(item.import_inventory.price_import.ToString("N0") )đ / @item.sale_details.product.unit
                                                                    @if (item.sale_details.product.unit_swap != null)
                                                                    {
                                                                        <div>
                                                                            @String.Format("{0:0,00}", (item.import_inventory.price_import / item.sale_details.product.quantity_swap))đ / @item.sale_details.product.unit_swap
                                                                        </div>
                                                                    }
                                                                </td>
                                                                <td class="text-center">
                                                                    @item.quantity @item.unit
                                                                </td>
                                                                <td class="text-center">
                                                                    @String.Format("{0:0,00}", item.Price) đ
                                                                </td>
                                                                <td class="text-center">
                                                                    @String.Format("{0:0,00}", item.Price * item.quantity) đ
                                                                    @{sumSell += item.Price * item.quantity;}
                                                                </td>
                                                                @if (item.unit == item.sale_details.product.unit)
                                                                {
                                                                    sumRevenue += (item.Price - item.import_inventory.price_import) * item.quantity;

                                                                    if ((item.Price - item.import_inventory.price_import) * item.quantity >= 0)
                                                                    {
                                                                        <td class="text-right text-success">
                                                                            + @String.Format("{0:0,00}", (((item.Price - item.import_inventory.price_import) * item.quantity))) đ
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td class="text-right text-danger">
                                                                            - @String.Format("{0:0,00}", (((item.Price - item.import_inventory.price_import) * item.quantity))) đ
                                                                        </td>
                                                                    }
                                                                }
                                                                else if (item.unit == item.sale_details.product.unit_swap)
                                                                {
                                                                    sumRevenue += (item.Price - (item.import_inventory.price_import / item.sale_details.product.quantity_swap)) * item.quantity;

                                                                    if ((item.Price - (item.import_inventory.price_import / item.sale_details.product.quantity_swap)) * item.quantity >= 0)
                                                                    {
                                                                        <td class="text-right text-success">
                                                                            + @String.Format("{0:0,00}", (((item.Price - (item.import_inventory.price_import / item.sale_details.product.quantity_swap)) * item.quantity))) đ
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td class="text-right text-danger">
                                                                            - @String.Format("{0:0,00}", (((item.Price - (item.import_inventory.price_import / item.sale_details.product.quantity_swap)) * item.quantity))) đ
                                                                        </td>
                                                                    }
                                                                }

                                                                <td class="text-center">
                                                                    @String.Format("{0:HH:mm - dd/MM/yyy}", item.sale_details.sale.created_at)
                                                                </td>
                                                            </tr>
                                                        }


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="car-body border-report">
                                    <div class="row">
                                        <div class="col-md-9">
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <p class="mb-0">
                                                    Tổng tiền bán được: <span><b>@sumSell.ToString("N0") VNĐ</b></span>
                                                </p>
                                            </div>
                                            <div class="form-group">
                                                <p class="mb-0">

                                                    Tổng tiền nhập hàng: <span><b>@((sumSell - sumRevenue).ToString("N0")) VNĐ</b></span>
                                                </p>
                                            </div>
                                            <div class="form-group">
                                                <p class="mb-0">

                                                    Lợi nhuận: <span class="text-@(sumRevenue >= 0 ? "success" : "danger")"><b>@(sumRevenue.ToString("N0")) VNĐ</b></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="card-body table-border-style">
                                    <div class="table-responsive">
                                        <div>
                                            <div class="alert alert-warning text-center">
                                                <p>Không tìm thấy dữ liệu</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



