@model IEnumerable<CAP_TEAM05_2022.Models.sale>
@using Constants = CAP_TEAM05_2022.Helper.Constants;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";
}
@section style{
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <style>
        .select2-container--default .select2-results > .select2-results__options {
            max-height: 300px
        }

        .select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 45px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 45px;
        }
    </style>
}
<input type="text" hidden id="URL_OrderList" value="@Url.Action("_OrderList", "sales")" />

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Quản lý đơn hàng</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://dnqt.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Quản lý đơn hàng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" class="tab-pane fade active show">
                    <div class="card">
                        <div class="card-body table-border-style">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <div class="mx-datepicker">
                                        <div class="mx-input-wrapper">
                                            <input id="sale_DateStart" class="form-control custom-width flatpickr" value="@String.Format("{0:yyyy-MM-dd}", DateTime.Now.AddMonths(-1))">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mx-datepicker">
                                        <div class="mx-input-wrapper">
                                            <input id="sale_DateEnd" class="form-control custom-width flatpickr" value="@String.Format("{0:yyyy-MM-dd}",DateTime.Now))">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" id="dataContainer3">
                                @{ Html.RenderAction("_OrderList", "sales");}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>


        </div>
    </div>
</section>
<div id="dataContainer2">
</div>
<div id="productExchangeModal" tabindex="-1" role="dialog" aria-labelledby="productExchangeModalTitle" aria-hidden="true" class="modal fade bd-example-modal-lg">
    <div role="document" class="modal-dialog modal-lg">
        <form class="needs-validation ReturnForm" method="post" action="@Url.Action("Create_Return", "return_sale")" novalidate>
            <input type="number" hidden id="sale_details_id" name="sale_details_id">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 id="productExchangeModalTitle" class="modal-title white">Đổi - Trả sản phẩm</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <p class="alert alert-warning" style="display: none;">
                </p>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Sản phẩm hiện tại</label>
                                <div class="position-relative">
                                    <input type="number" hidden id="product_Current_id" name="product_Current_id">
                                    <input type="text" id="product_Current" disabled="disabled" value="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Số lượng</label>
                                <div class="position-relative">
                                    <div class="input-group">
                                        <input type="text" hidden id="price_PCurrent" name="price_PCurrent" class="form-control">
                                        <input type="number" min="0" id="quality_OD" name="quality_OD" class="form-control">
                                        <div class="input-group-append">
                                            <span id="unit" class="input-group-text unitCurrent">
                                                kg
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 return_product_1" style="display: none">
                            <div class="form-group">
                                <label>Giá chênh lệch hiện </label>
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <span id="basic-addon1" class="input-group-text ">
                                            Hoàn lại
                                        </span>
                                    </div>
                                    <input type="text" id="collect_return" disabled="disabled" class="form-control" value="0">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Lựa chọn<span class="text-danger">*</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="radio" value="@Constants.CHANGE_OPTION" checked name="return_option" onclick="Return1();"> Đổi mới
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="radio" value="@Constants.RETURN_OPTION" name="return_option" onclick="Return2();"> Trả hàng
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!---->
                        </div>
                        <div class="col-md-6 return_product">
                            <div class="form-group">
                                <label>
                                    Chọn sản phẩm mới<span class="text-danger">*</span>
                                </label>
                                <div>
                                    <input type="hidden" class="ProductID" />
                                    <input type="hidden" class="ProductID" />
                                    <select class="form-control returnProduct_List" name="product_id"></select>
                                </div>


                                <!---->
                            </div>
                        </div>
                        <div class="col-md-6 return_product">
                            <div class="form-group">
                                <label>
                                    Số lượng<span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <input type="number" value="1" min="1" placeholder="Số lượng sản phẩm" id="input_qualityProduct" name="input_qualityProduct" disabled="disabled" class="form-control">
                                    <div class="input-group-append">
                                        <select name="choose_unit" id="unit_swap_return" class="input-group-text unit_swap_return">
                                            <option disabled="disabled" selected value="">Đơn vị</option>

                                        </select>
                                    </div>

                                </div>

                                <!---->
                            </div>
                        </div>
                        <div class="col-md-6 return_product">
                            <div class="form-group">
                                <label>Giá sản phẩm</label>
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <span id="qualityProduct" class="input-group-text qualityProduct">
                                            Số lượng còn: 0
                                        </span>
                                    </div>
                                    <input type="text" id="priceProduct" disabled="disabled" class="form-control">
                                    <input type="text" placeholder="Giá bán" hidden id="priceProduct_swap" disabled="disabled" class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 return_product">
                            <div class="form-group">
                                <label>Giá chênh lệch hiện tại và muốn đổi</label>
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <span id="basic-addon1" class="input-group-text spCollect">
                                            Thu thêm
                                        </span>
                                    </div>
                                    <input type="text" id="collect" disabled="disabled" class="form-control" value="0">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 return_product">
                            <p class="text-danger price_current">
                                Sản phẩm hiện tại: 0 x 0 = 0
                            </p>
                            <p class="text-danger price_return">
                                Sản phẩm muốn đổi: 0 x 0 = 0
                            </p>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary me-1 mb-1" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary me-1 mb-1">Lưu</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/select2.min.js"></script>
    <script type="text/javascript">
    var row;
    $(document).ready(function () {
        $('#example').DataTable({
            pagingType: 'full_numbers',
        });
    });
     function GetList_orderDetails(id, method) {
            $.ajax({
                url: '@Url.Action("_OrderDetailsList", "sales")',
                data: {
                    order_id: id,
                }
            }).done(function (result) {
                $('#dataContainer2').html(result);
                if (method == @Constants.VIEW_DETAILS ) {
                    $('#detailModal.close').css('display', 'none');
                    $('#detailModal').modal('show');
                }
                else if (method == @Constants.MODAL_RETURN) {
                    $('#productSelectModal.close').css('display', 'none');
                    $('#productSelectModal').modal('show');
                }


            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus)
                console.log(errorThrown)
                alert("Something Went Wrong, Try Later");
            });
    }
    function Get_ReturnProduct(id, isDebtPrice) {
        $('#productSelectModal.close').css('display', 'none');
        $('#productSelectModal').modal('hide');
        $('#productExchangeModal.close').css('display', 'none');
        $('#productExchangeModal').modal('show');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("FindSaleDetails", "sale_details")/',
            data: { "id": id, },
            success: function (response) {
                $('#product_Current').val(response.note);
                $('#sale_details_id').val(response.id);
                $('#product_Current_id').val(response.method);
                $('#quality_OD').val(response.total);
                document.getElementById("quality_OD").setAttribute("max", response.total);
                $('#price_PCurrent').val(response.prepayment.toLocaleString());
                document.getElementsByClassName('price_current')[0].innerHTML = "Sản phẩm hiện tại: " + response.prepayment.toLocaleString() + " x " + response.total + " = " + (response.prepayment * response.total).toLocaleString();
                document.getElementsByClassName('unitCurrent')[0].innerHTML = response.code;
                $('#product_Current_id').val(response.method);
                $('#collect_return').val((response.prepayment * response.total).toLocaleString());
            }
        })
    }
    function Return2() {
        $(".return_product").hide();
        $(".return_product_1").show();
    } function Return1() {
        $(".return_product").show();
        $(".return_product_1").hide();
    }
    </script>
}