@model IEnumerable<CAP_TEAM05_2022.Models.revenue>

@{
    ViewBag.Title = "Revevue";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";

}
<input type="text" hidden id="URLExportExcel_profit" value="@Url.Action("ExportExcel_profit", "Excel")" />
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Doanh thu</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://dnqt.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Doanh thu</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">

                                <div class="row col-md-10" id="RevenueDate">

                                    <div class="col-md-4">
                                        <div class="mx-datepicker">
                                            <div class="mx-input-wrapper">
                                                <input name="date_start" id="revenue_DateStart" placeholder="" class="form-control custom-width flatpickr" value="@(TempData["date_Start"] == null ? String.Format("{0:yyyy-MM-dd}", DateTime.Now): String.Format("{0:yyyy-MM-dd}", TempData["date_Start"]))">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mx-datepicker">
                                            <div class="mx-input-wrapper">
                                                <input name="date_end" id="revenue_DateEnd" class="form-control custom-width flatpickr" value="@(TempData["date_End"] == null ? String.Format("{0:yyyy-MM-dd}", DateTime.Now): String.Format("{0:yyyy-MM-dd}", TempData["date_End"]))">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="float-right">
                                            <button type="button" class="btn btn-secondary" id="btnExportExcel_DetailsRevenue">Xuất Excel</button>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="float-right">
                                            <button type="button" class="btn btn-secondary" onclick="PrintRevenues()">In doanh thu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="dataContainer">
                        @{ Html.RenderAction("_RevenueList", "sales");}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="dataContainer2">
</div>
@section scripts {

    <script type="text/javascript">
    var row;
    $(document).ready(function () {
        $('#example').DataTable({
            pagingType: 'full_numbers',
        });
    });
         $("#revenue_DateStart").change(function () {
            var date_start = $("#revenue_DateStart").val();
            var date_end = $("#revenue_DateEnd").val();
            if (date_start <= date_end) {
                GetRevenueList(date_start, date_end);
            } else {
                Swal.fire('Lỗi', 'Thời gian bắt đầu phải nhỏ hơn thời gian kết thúc !', 'error')
            }

        });
        $("#revenue_DateEnd").change(function () {
            var date_start = $("#revenue_DateStart").val();
            var date_end = $("#revenue_DateEnd").val();
            if (date_start <= date_end) {
                GetRevenueList(date_start, date_end);
            } else {
                Swal.fire('Lỗi', 'Thời gian bắt đầu phải nhỏ hơn thời gian kết thúc !', 'error')
            }
        });

        function GetRevenueList(date_start, date_end) {
            $.ajax({
                url: '@Url.Action("_RevenueList", "sales")',
                data: {
                    date_Start: date_start,
                    date_End: date_end,
                }
            }).done(function (result) {
                $('#dataContainer').html(result);
                $('#example').DataTable()
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus)
                console.log(errorThrown)
                Swal.fire('Lỗi !', 'Đã xảy ra lỗi, hãy thử lại sau !', 'error');
            });
        }
        $('#btnExportExcel_DetailsRevenue').click(function () {
            var date_start = $("#revenue_DateStart").val();
            var date_end = $("#revenue_DateEnd").val();
            var URLExportExcel_RevenueDate = "@Url.Action("ExportExcel_DetailsRevenue", "Excel")" + "?date_Start=" + date_start + "&date_End=" + date_end;
            window.location.href = URLExportExcel_RevenueDate;
        })
    </script>
}