@model IEnumerable<CAP_TEAM05_2022.Models.revenue>

@{
    ViewBag.Title = "Revevue";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";
    int no = 0;
}
<input type="text" hidden id="URL_RevenueList_Date" value="@Url.Action("_RevenueList_Date", "sales")" />
<input type="text" hidden id="URL_RevenueList_Month" value="@Url.Action("_RevenueList_Month", "sales")" />

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Doanh thu</h5>
                        </div> <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://tancool.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Doanh thu</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-md-4" style="">
                                    <div class="mx-datepicker">
                                        <div class="mx-input-wrapper">
                                            <input name="date_start" id="revenue_DateStart" type="date" placeholder="" class="form-control custom-width" value="@String.Format("{0:yyyy-MM-dd}", Convert.ToDateTime(DateTime.Now.ToString("dd-MM-yyyy")))">


                                        </div>
                                    </div>
                                </div> <div class="col-md-4" style="">
                                    <div class="mx-datepicker">
                                        <div class="mx-input-wrapper">
                                            <input name="date_end" id="revenue_DateEnd" type="date" class="form-control custom-width" value="@String.Format("{0:yyyy-MM-dd}",Convert.ToDateTime(DateTime.Now.ToString("dd-MM-yyyy")))">

                                        </div>
                                    </div>
                                </div>  
                                <div class="col-md-4">
                                    <div class="float-right">
                                        <button type="button" class="btn btn-secondary">Xuất tệp</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="card-body">
                                <ul id="pills-tab" role="tablist" class="nav nav-pills mb-3">
                                    <li class="nav-item">
                                        <a id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="true" class="nav-link active">
                                            Doanh thu theo ngày <input type="hidden" value="1">
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false" class="nav-link">
                                            Doanh thu theo tháng <input type="hidden" value="1">
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" class="nav-link">
                                            Doanh thu chi tiết lãi lỗ <input type="hidden" value="1">
                                        </a>
                                    </li>
                                </ul> <div id="pills-tabContent" class="tab-content">
                                    <div id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" class="tab-pane fade">
                                        <div class="card">
                                            <div class="card-body table-border-style">
                                                <div>
                                                    <div class="table-responsive" id="dataContainer1">
                                                        @{ Html.RenderAction("_RevenueList_Month", "sales");}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" class="tab-pane fade">
                                        <div class="card">
                                            <div class="card-body table-border-style">
                                                <div>
                                                     <div class="table-responsive">
                                                        <table id="example" class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Mã sản phẩm</th>
                                                                    <th>Tên sản phẩm</th>
                                                                    <th class="text-center">Đơn vị</th>
                                                                    <th class="text-center">Số lượng gốc</th>
                                                                    <th class="text-center">Đơn giá gốc</th>
                                                                   @* <th class="text-center">Tổng Giá gốc</th>*@
                                                                    <th class="text-center">Số lượng bán</th>
                                                                    <th class="text-center">Đơn giá bán</th>
                                                                   @* <th class="text-center">Tổng Giá bán</th>*@
                                                                    <th class="text-center">Lợi nhuận</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model)
                                                                {
                                                                <tr>
                                                                    <td>@item.sale_details.product.code</td>
                                                                    <td>@item.sale_details.product.name</td>
                                                                    <td class="text-center">
                                                                        @item.sale_details.product.unit
                                                                    </td>
                                                                    <td class="text-center">
                                                                        @item.sale_details.product.quantity
                                                                    </td>
                                                                    <td class="text-center">
                                                                        @(item.sale_details.product.purchase_price ) đ
                                                                    </td>
                                                                   @* <td class="text-center">
                                                                        @(item.sale_details.product.purchase_price * item.sale_details.product.quantity)
                                                                    </td>*@
                                                                    <td class="text-center">
                                                                        @item.quantity
                                                                    </td>
                                                                    <td class="text-center">
                                                                        @item.Price đ
                                                                    </td>
                                                                    @*<td class="text-center">
                                                                        @(item.Price * item.quantity)
                                                                    </td>*@
                                                                    @if ((item.Price - item.sale_details.product.purchase_price) * item.quantity > 0)
                                                                    {
                                                                        <td class="text-center text-success">
                                                                           + @((item.Price - item.sale_details.product.purchase_price) *item.quantity) đ
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td class="text-right text-danger">
                                                                            @((item.Price - item.sale_details.product.purchase_price) *item.quantity) đ
                                                                        </td>
                                                                    }

                                                                </tr>
                                                                }


                                                            </tbody>
                                                        </table>  
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" class="tab-pane fade active show">
                                        <div class="card">
                                            <div class="card-body table-border-style">
                                                <div>
                                                    <div class="table-responsive" id="dataContainer">
                                                        @{ Html.RenderAction("_RevenueList_Date", "sales");}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div> <div id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalTitle" aria-hidden="true" class="modal fade bd-example-modal-lg">
                <div role="document" class="modal-dialog modal-lg">
                    <form>
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h5 id="detailModalTitle" class="modal-title white">Chi tiết</h5> <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div> <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">STT</th>
                                                        <th>Ngày</th>
                                                        <th>Mã sản phẩm</th>
                                                        <th>Tên sản phẩm</th>
                                                        <th class="text-center">Đơn vị</th>
                                                        <th class="text-center">Đơn giá</th>
                                                        <th class="text-center">Số lượng</th>
                                                        <th class="text-center">Thành tiền</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td colspan="9">
                                                            <div class="alert alert-warning">
                                                                <p class="text-center">Không tìm thấy dữ liệu</p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="7" class="text-right">
                                                            <h5>Tạm tính</h5>
                                                        </td>
                                                        <td class="text-left">
                                                            <h5>0 ₫</h5>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="7" class="text-right">
                                                            <h5>VAT (%)</h5>
                                                        </td>
                                                        <td class="text-left">
                                                            <h5>%</h5>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="7" class="text-right">
                                                            <h5>Chiết khấu (%)</h5>
                                                        </td>
                                                        <td class="text-left">
                                                            <h5>%</h5>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="7" class="text-right">
                                                            <h5>Thành tiền</h5>
                                                        </td>
                                                        <td class="text-left">
                                                            <h5>
                                                                0
                                                                ₫
                                                            </h5>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    var row;
    $(document).ready(function () {
        $('#example').DataTable({
            pagingType: 'full_numbers',
        });
    });
</script>