@model IEnumerable<CAP_TEAM05_2022.Models.cart>
@{
    Layout = null;
    int no = 0;
    float total = Model.Sum(s => s.price);
}
@if (Model.Count() >= 1)
{
    <div class="row" id="myDIV">
        <div class="col-md-2">
            <div class="form-group">
                <label>Tạm tính tiền</label>
                <input type="text" id="cart_total" class="form-control" value="@total.ToString("N0")" disabled>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>VAT(%)</label>
                <input type="number" id="vat" min="0" max="100" class="form-control">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Chiết khấu(%)</label>
                <input type="number" id="discount" min="0" max="100" class="form-control">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Thành tiền</label>
                <input type="text" id="total" disabled="disabled" class="form-control" value="@total.ToString("N0")">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Trả trước</label>
                <input type="text" placeholder="Thanh toán 1 phần" class="form-control">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Ghi chú</label>
                <input type="text" id="cart_note" placeholder="Ghi chú" class="form-control">
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body table-border-style">
                <div class="table-responsive">
                    <table id="example" class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">STT</th>
                                <th>Mã hàng</th>
                                <th>Tên hàng hàng</th>
                                <th class="text-center">Đơn vị</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center">Giá bán</th>
                                <th class="text-center">Chiết khấu</th>
                                <th class="text-center">Thành tiền</th>
                                <th>Ghi chú</th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                no++;
                                <tr>
                                    <td>@no</td>
                                    <td>@item.product.code</td>
                                    <td>@item.product.name</td>
                                    <td>@item.product.unit</td>
                                    <td>@item.quantity</td>
                                    <td>@item.product.sell_price.ToString("N0")</td>
                                    <td>@item.discount</td>
                                    <td>@item.price.ToString("N0")</td>
                                    <td>@item.note</td>
                                    <td>
                                        <button class="btn btn-success">
                                            <i class="feather icon-edit">
                                            </i>
                                        </button>
                                        <button class="btn btn-danger">
                                            <i class="feather icon-trash-2">
                                            </i>
                                        </button>
                                    </td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable({
                pagingType: 'full_numbers',
            });
        });
    </script>

</div>
