@model IEnumerable<CAP_TEAM05_2022.Models.cart>
@{ 
    Layout = null;
    int no = 0;
}

    <div class="col-md-12">
        <div class="card">
            <div class="card-body table-border-style">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">STT</th>
                                <th>Mã hàng</th>
                                <th>Tên hàng hàng</th>
                                <th class="text-center">Đơn vị</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center">Giá nhập</th>
                                <th class="text-center">Chiết khấu</th>
                                <th class="text-center">Giá bán</th>
                                <th class="text-center">Thành tiền</th>
                                <th>Ghi chú</th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                no++;
                            <tr>
                                <td>@no</td>
                                <td>@item.product.code</td>
                                <td>@item.product.name</td>
                                <td>@no</td>
                                <td>@no</td>
                                <td>@no</td>
                                <td>@no</td>
                                <td>@no</td>
                                <td>@no</td>
                                <td>@no</td>
                                <td>@no</td>

                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
