@model IEnumerable<CAP_TEAM05_2022.Models.cart>
@{
    Layout = null;
    int no = 0;
    float total = Model.Sum(s => s.price);
}
@if (Model.Count() >= 1)
{
    <div class="row" id="myDIV">

        <div class="col-md-6">
            <div class="form-group">
                <label>Tổng đơn hàng:</label>
                <input type="text" id="total" disabled="disabled" class="form-control" value="@total.ToString("N0")">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Trả trước</label>
                <input type="text" placeholder="Thanh toán 1 phần" id="cart_Prepay" max="999999999999" class="form-control"
                       pattern="[0-9.,]+" data-type="number" name="purchase_price" onchange="ButtonDebit()">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Ghi chú</label>
                <input type="text" id="cart_note" placeholder="Ghi chú" class="form-control">
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body table-border-style">
                <div class="table-responsive">
                    <table id="example" class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">STT</th>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center">Giá bán</th>
                                <th class="text-center">Thành tiền</th>
                                <th>Ghi chú</th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                no++;
                                <tr>
                                    <td>@no </td>
                                    <td>@item.product.code</td>
                                    <td>@item.product.name</td>
                                    <td class="text-center">
                                        <div> @item.quantity<span class="txt-unit"> @item.unit</span></div>
                                    </td>
                                    <td class="text-center">@((item.price/ item.quantity).ToString("N0")) ₫</td>

                                    <td class="text-center">@item.price.ToString("N0") ₫</td>
                                    <td>@item.note</td>
                                    <td>
                                        <button class="btn btn-success" onclick="FillProduct_cart('@item.id', '@item.product_id','@item.product.name','@item.quantity', '@item.unit')">
                                            <i class="feather icon-edit">
                                            </i>
                                        </button>
                                        <input hidden type="text" id="URLDelete" value="@Url.Action("Delete_CartProduct", "carts")">
                                        <button class="btn btn-danger" onclick="deleteAlert('@item.id')" id="Delete">
                                            <i class="feather icon-trash-2">
                                            </i>
                                        </button>

                                    </td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            pagingType: 'full_numbers',
        });
    });

    $('#cart_Prepay').keydown(function (e) {
        setTimeout(() => {
            let parts = $(this).val().split(".");
            let v = parts[0].replace(/\D/g, ""),
                dec = parts[1]
            let calc_num = Number((dec !== undefined ? v + "." + dec : v));
            // use this for numeric calculations
            // console.log('number for calculations: ', calc_num);
            let n = new Intl.NumberFormat('en-EN').format(v);
            n = dec !== undefined ? n + "." + dec : n;
            $(this).val(n);
        })
    })
    </script>
    }
<script>
    function deleteAlert(id) {
        Swal.fire({
            title: 'Bạn có chắc chắn muốn xóa',
            text: "Bạn không thể hoàn nguyên nếu có sai xót!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Xác nhận'
        }).then((result) => {
            if (result.isConfirmed) {
               var categorys = {};
                categorys.id = id;

                $.ajax({
                    url: '@Url.Action("Delete_CartProduct", "carts")',
                    data: JSON.stringify(categorys),
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json'
                })
                    .done(function (data) {
                        GetList_Cart($('#customer_id').val());
                        Swal.fire('Đã xóa!', '', 'success')
                    })
            }
        })
        
    }
</script>