@{
    ViewBag.Title = "Trang Quản Trị";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";
}
@section style {
    @*
           <style>
            .dashboard .filter {
                position: absolute;
                right: 0px;
                top: 15px;
            }
            .site-welcome {
                margin: -30px;
            }

                .site-welcome::after {
                    background: rgb(8, 45, 72);
                    display: block;
                    height: 100%;
                    left: 0;
                    opacity: 0.7;
                    position: absolute;
                    top: 60px;
                    webkit-linear-gradientidth: 100%;
                    width: 100%;
                    z-index: 1;
                }
            .welcome {
                position: relative;
                text-align: center;
                color: white;
                z-index: 3;
                padding-top: 10%;
                min-height: 88vh;
            }

                .welcome h1 {
                    font-size: 80px;
                    font-weight: bold;
                }

                .welcome h3 {
                    font-size: 20px;
                }
            .background-admin:before {
                content: "";
                background: linear-gradient( #d41b295c 0%, #000 120%);
                position: absolute;
                min-height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
            }


            .message-attandee {
                color: #fff;
                padding: 10px;
                background: rgb(58 53 53);
            }
        </style>*@
    <style>
        .site-welcome {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }


                .main__thumb-img {
                    position: relative;
                    width: 100%;
                    height: 100vh;
                    overflow: hidden;
                }

                    .main__thumb-img::before {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        @*background: rgba(0, 0, 0, 0.5);*@
                        background: linear-gradient(to bottom right, rgba(76, 112, 49, 0.8), rgba(76, 112, 49, 0.2));
                    }

                    .main__content {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                .main__content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }

        .main__wrap-thumb {
            position: relative;

        }
        /*.main__content-wrapper {
            padding-left: 250px;
        }
        */
        .main__content {
            color: #fff;
        }

                .main__thumb-img-link {
                    width: 100%;
                }

                .main__content-title {
                    font-size: 50px;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                }

                .main__content-header {
                    font-size: 90px;
                    text-transform: uppercase;
                    font-weight: bold;
                }

        .main__content-desc,
        .main__content-header,
        .main__content-title {
            color: #FFF;
        }

        .main__content-desc {
            font-size: 30px;
            text-transform: uppercase;
        }

                .main__content-time {
                    font-size: 20px;
                }
    </style>
}

@*<section class="section dashboard">
        <video style="position: fixed; right: 0px; bottom: 0px; min-width: 100%;" playsinline autoplay muted loop>
            <source src="@Url.Content("~/Template/assets/images/banner-video.mp4")" type="video/mp4" />
        </video>
        <div class="site-welcome">
            <div class="welcome background-admin">
                <h1>XIN CHÀO</h1>
                <h2>CHÚC BẠN MỘT NGÀY LÀM VIỆC TỐT LÀNH.</h2>
                <br />
                <h4><span id="clock"></span> - HCM, Ngày @DateTime.Now.Day Tháng @DateTime.Now.Month Năm @DateTime.Now.Year</h4>
                <div class="d-flex justify-content-center pt-5">
                    <div id="content" class="col-lg-6">
                        <h2 id="quote"></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<div class="main__wrap-thumb">
    <div class="main__content-wrapper">
        <div class="main__thumb">
            <div id="banner" class="main__thumb-img  text-center">
                <video src="@Url.Content("~/Template/assets/images/banner-video.mp4")" muted loop autoplay class="main__thumb-img-link"></video>

                @*<div class="inner">
                    <img src="~/Template/After_Login/logo2.png" class="img-responsive center-block branch-logo">
                    <p class="main__content-header">MEETING VL</p>
                    <p class="main__content-desc">Wishing you a new day of luck and fruitfulness</p>
                    <p class="main__content-time" id="current-time"></p>
                </div>*@
                <div class="site-welcome">
                    <div class="welcome background-admin">
                        <p class="main__content-header">XIN CHÀO</p>
                        <p class="main__content-desc">CHÚC BẠN MỘT NGÀY LÀM VIỆC TỐT LÀNH</p>
                        <p class="main__content-desc"><span id="clock"></span> - HCM, Ngày @DateTime.Now.Day Tháng @DateTime.Now.Month Năm @DateTime.Now.Year</p>
                        <div class="d-flex justify-content-center pt-5">
                            <div id="content" class="col-lg-6">
                                <p id="quote" class="main__content-desc" ></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

@section scripts {
    <script>
        $(document).ready(function () {
            startTime();
            genQuote();
        })
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('clock').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 1000);
        }
        function checkTime(i) {
            if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
            return i;
        }

        //quote array
        const quotes = [
            "\"Tôi biết ơn những người đã nói KHÔNG với tôi. Bởi nhờ họ, tôi đã tự mình làm điều đó.\"<br>- Albert Einstein -",
            "\"Hãy xây lên giấc mơ của riêng bạn, nếu không người khác sẽ thuê bạn xây dựng giấc mơ của họ đó.\"<br>- Farrah Gray -",
            "\"Sự trả thù tốt nhất là một thành công vĩ đại.\"<br>- Frank Sinatra -",
            "\"Chỉ cần không dừng lại, việc bạn tiến chậm cũng không là vấn đề.\"",
            "\"Một trong những bí quyết quan trọng nhất để có được thành công là lập nên quy tắc làm những việc bạn biết mình nên làm, dù cho bạn không muốn đi chăng nữa.\"",
            "\"Tôi chưa bao giờ mơ về thành công, tôi đã làm việc vì nó.\"<br>- Estee Lauder -",
            "\"Hãy học khi người khác ngủ; lao động khi người khác lười nhác; chuẩn bị khi người khác chơi bời; và bạn sẽ có giấc mơ khi người khác chỉ ao ước.\"<br>- William Arthur Ward -",
            "\"Bạn muốn biết bạn là ai? Đừng hỏi nữa. Hãy hành động! Hành động sẽ định nghĩa con người bạn.\"",
            "\"Dù rằng không ai có thể trở lại và có một khởi đầu mới, bất kì ai cũng có thể bắt đầu bây giờ và có một kết thúc mới.\"<br>- Carl Bard -",
            "\"Điều quan trọng không phải là việc bạn là sư tử hay linh dương, khi mặt trời mọc, bạn nên bắt đầu chạy…\"<br>- Thomas L. Friedman -",
            "\"Dù cuộc sống có vần xoay thế nào, hãy sống thật tử tế.\"<br>- Gari -",
            "\"Nếu cơ hội không gõ cửa nhà bạn, có nghĩa là nhà bạn chưa có cửa. Hãy gắn cái.\"<br>- Milton Berle -",
        ];
        function genQuote() {
            var randNum = Math.floor(Math.random() * quotes.length);
            document.getElementById('quote').innerHTML = quotes[randNum];
            var tweetQuote = quotes[randNum].split(' ').join('%20');
            tweetQuote = tweetQuote.split('<br>').join('');
        }
    </script>
}